In [1]:
!pip install kora -q

     |████████████████████████████████| 57 kB 1.6 MB/s
     |████████████████████████████████| 60 kB 3.7 MB/s

## Required execution for notebook

The below verifies if the notebook is being executed in a local environment (Anaconda) or if the notebook is being hosted (Google Drive), and sets certain variables based on the requirement ("cwd" being the reference of the project directory; the notebook is always assumed to be executed at the root or the highest level of the project folder)

In [3]:
#Red pill or blue pill

from google.colab import drive
from kora import drive as drives
import os

is_drive = False
cwd = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "/Datasets/"

while True:
  offon = input("Is this being run offline? (Y = offline (i.e. Jupyter notebook), N = online (i.e. Google Colab notebook)): ")
  try:
    if offon.lower() not in ["y", "n"]:
      raise ValueError
    else:
      if offon.lower() == "n":
        drive.mount('/content/drive')
        is_drive = True
        cwd = str(drives.chdir_notebook())
        cwd = os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "/Datasets/"
      break
  except ValueError:
    print("Error! Please only type one of the following: Y, y, N, n")

Is this being run offline? (Y = offline (i.e. Jupyter notebook), N = online (i.e. Google Colab notebook)): n
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
cwd

'/content/drive/My Drive/CCT/Assignments/Assignment 2/Datasets/'

In [6]:
path = os.getcwd()
print("Current Directory", path)

print(os.path.abspath(os.path.join(path, os.pardir)))

Current Directory /content/drive/MyDrive/CCT/Assignments/Assignment 2/Notebooks
/content/drive/MyDrive/CCT/Assignments/Assignment 2

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
xlsx = pd.ExcelFile(cwd+"milk_dataset V2.xlsx")

In [387]:
df1 = pd.read_excel(xlsx, "Output")
df2 = pd.read_excel(xlsx, "Price of heifer cows")
df3 = pd.read_excel(xlsx, "Price of meal")

#### Dictionaries

In [372]:
months = {"Jan":1,
          "Feb":2,
          "Mar":3,
          "Apr":4,
          "May":5,
          "Jun":6,
          "Jul":7,
          "Aug":8,
          "Sep":9,
          "Oct":10,
          "Nov":11,
          "Dec":12}

In [375]:
inv_months = {v: k for k, v in months.items()}

###

#### Price of cattle meal dataset

In [388]:
df3

,Statistic,Month,Type of Feedstuff,UNIT,VALUE
0,Feed Stuff Price,2014M01,Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Calf nuts and cubes (16-18% protein),Euro per Tonne,329
2,Feed Stuff Price,2014M01,Calf meal (16-18% protein),Euro per Tonne,.
3,Feed Stuff Price,2014M01,Dairy nuts and cubes (16-18% protein),Euro per Tonne,302
4,Feed Stuff Price,2014M01,Dairy meal (16-18% protein),Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Calf nuts and cubes (16-18% protein),Euro per Tonne,395
487,Feed Stuff Price,2022M02,Calf meal (16-18% protein),Euro per Tonne,.
488,Feed Stuff Price,2022M02,Dairy nuts and cubes (16-18% protein),Euro per Tonne,374
489,Feed Stuff Price,2022M02,Dairy meal (16-18% protein),Euro per Tonne,363

In [389]:
df3 = df3.rename({"Type of Feedstuff": "Category"}, axis=1)

In [390]:
df3.Category = [str(x + " (" + y + ")") for (x, y) in zip(df3.Category,
                                                         df3["UNIT"])]

In [391]:
df3

,Statistic,Month,Category,UNIT,VALUE
0,Feed Stuff Price,2014M01,Maize meal (Euro per Tonne),Euro per Tonne,252
1,Feed Stuff Price,2014M01,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
3,Feed Stuff Price,2014M01,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Maize meal (Euro per Tonne),Euro per Tonne,331
486,Feed Stuff Price,2022M02,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,395
487,Feed Stuff Price,2022M02,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
488,Feed Stuff Price,2022M02,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,374
489,Feed Stuff Price,2022M02,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,363

In [392]:
df3 = df3.drop("Statistic", axis=1)

In [393]:
df3

,Month,Category,UNIT,VALUE
0,2014M01,Maize meal (Euro per Tonne),Euro per Tonne,252
1,2014M01,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,329
2,2014M01,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
3,2014M01,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,302
4,2014M01,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,300
...,...,...,...,...
485,2022M02,Maize meal (Euro per Tonne),Euro per Tonne,331
486,2022M02,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,395
487,2022M02,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
488,2022M02,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,374
489,2022M02,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,363

In [394]:
df3["Month"] = [x.split("M") for x in df3["Month"]]

In [395]:
df3

,Month,Category,UNIT,VALUE
0,"[2014, 01]",Maize meal (Euro per Tonne),Euro per Tonne,252
1,"[2014, 01]",Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,329
2,"[2014, 01]",Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
3,"[2014, 01]",Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,302
4,"[2014, 01]",Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,300
...,...,...,...,...
485,"[2022, 02]",Maize meal (Euro per Tonne),Euro per Tonne,331
486,"[2022, 02]",Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,395
487,"[2022, 02]",Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.
488,"[2022, 02]",Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,374
489,"[2022, 02]",Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,363

In [396]:
df3["Year"] = [int(x[0]) for x in df3["Month"]]

In [397]:
df3["Month"] = [int(x[1]) for x in df3["Month"]]

In [398]:
df3

,Month,Category,UNIT,VALUE,Year
0,1,Maize meal (Euro per Tonne),Euro per Tonne,252,2014
1,1,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,329,2014
2,1,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,2014
3,1,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,302,2014
4,1,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,300,2014
...,...,...,...,...,...
485,2,Maize meal (Euro per Tonne),Euro per Tonne,331,2022
486,2,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,395,2022
487,2,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,2022
488,2,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,374,2022
489,2,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,363,2022

In [399]:
df3["Month"] = [inv_months[x] for x in df3["Month"]]

In [400]:
df3_pivot = df3.pivot(index=["Year", "Category", "UNIT"], columns='Month', values="VALUE")

In [401]:
df3_pivot.head(20)

Month                                                                   Apr  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  313
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  276
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  289
     Maize meal (Euro per Tonne)                        Euro per Tonne  233
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  297
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  264
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  221
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  307
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  261
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  276
     Maize meal (Euro per Tonne)                        Euro per Tonne  232
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  291
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  247
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  233

Month                                                                   Aug  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  311
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  278
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  287
     Maize meal (Euro per Tonne)                        Euro per Tonne  228
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  296
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  269
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  223
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  252
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  232
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  246
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  229

Month                                                                   Dec  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  289
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  257
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  269
     Maize meal (Euro per Tonne)                        Euro per Tonne  222
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  293
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  267
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  220
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  248
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  230
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  245
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  230

Month                                                                   Feb  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  329
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  303
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  303
     Maize meal (Euro per Tonne)                        Euro per Tonne  248
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  289
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  262
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  269
     Maize meal (Euro per Tonne)                        Euro per Tonne  220
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  270
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  217
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  249
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  232

Month                                                                   Jan  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  329
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  300
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  302
     Maize meal (Euro per Tonne)                        Euro per Tonne  252
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  292
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  259
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  269
     Maize meal (Euro per Tonne)                        Euro per Tonne  223
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  296
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  264
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  219
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  249
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  269
     Maize meal (Euro per Tonne)                        Euro per Tonne  231

Month                                                                   Jul  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  311
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  279
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  289
     Maize meal (Euro per Tonne)                        Euro per Tonne  234
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  296
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  269
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  223
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  299
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  253
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  231
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  292
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  247
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  231

Month                                                                   Jun  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  312
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  278
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  290
     Maize meal (Euro per Tonne)                        Euro per Tonne  240
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  293
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  267
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  224
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  304
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  250
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  234
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  292
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  247
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  231

Month                                                                   Mar  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  305
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  290
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  288
     Maize meal (Euro per Tonne)                        Euro per Tonne  244
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  292
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  266
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  223
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  268
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  217
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  291
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  247
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  269
     Maize meal (Euro per Tonne)                        Euro per Tonne  234

Month                                                                   May  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  315
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  284
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  292
     Maize meal (Euro per Tonne)                        Euro per Tonne  240
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  266
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  222
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  304
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  253
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  274
     Maize meal (Euro per Tonne)                        Euro per Tonne  233
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  291
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  247
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  233

Month                                                                   Nov  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  287
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  256
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  267
     Maize meal (Euro per Tonne)                        Euro per Tonne  224
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  265
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  219
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  297
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  249
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  231
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  245
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  230

Month                                                                   Oct  \
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  279
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  250
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  227
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  292
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  269
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  220
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  297
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  249
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  272
     Maize meal (Euro per Tonne)                        Euro per Tonne  231
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  245
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  230

Month                                                                   Sep
Year Category                                           UNIT
2014 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  297
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  257
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  229
2015 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  265
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  273
     Maize meal (Euro per Tonne)                        Euro per Tonne  221
2016 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  295
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  251
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  271
     Maize meal (Euro per Tonne)                        Euro per Tonne  230
2017 Calf meal (16-18% protein) (Euro per Tonne)        Euro per Tonne    .
     Calf nuts and cubes (16-18% protein) (Euro per ... Euro per Tonne  294
     Dairy meal (16-18% protein) (Euro per Tonne)       Euro per Tonne  245
     Dairy nuts and cubes (16-18% protein) (Euro per... Euro per Tonne  270
     Maize meal (Euro per Tonne)                        Euro per Tonne  230

In [402]:
df3_pivot = df3_pivot.reset_index()

In [403]:
df3_pivot

Month,Year,Category,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299
40,2022,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2022,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2022,Maize meal (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
df3_pivot = df3_pivot.rename(inv_months, axis=1)

In [405]:
df3_pivot

Month,Year,Category,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299
40,2022,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2022,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2022,Maize meal (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [406]:
df3_pivot = df3_pivot.rename({"UNIT": "Unit"}, axis=1)

In [407]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299
40,2022,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2022,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2022,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2022,Maize meal (Euro per Tonne),Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [408]:
df3_pivot = df3_pivot[df3_pivot.Year < 2022]

In [409]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

#### Price of heifer cattle dataset

In [411]:
df2

                 Statistic    Month     Type of Cattle  UNIT   VALUE
0    Cattle Price per Head  2011M01  Heifers 200-249kg  Euro  445.22
1    Cattle Price per Head  2011M01  Heifers 250-299kg  Euro  541.00
2    Cattle Price per Head  2011M01  Heifers 300-349kg  Euro  614.39
3    Cattle Price per Head  2011M01  Heifers 350-399kg  Euro  663.88
4    Cattle Price per Head  2011M01  Heifers 400-449kg  Euro  737.82
..                     ...      ...                ...   ...     ...
655  Cattle Price per Head  2021M12  Heifers 200-249kg  Euro  490.37
656  Cattle Price per Head  2021M12  Heifers 250-299kg  Euro  623.57
657  Cattle Price per Head  2021M12  Heifers 300-349kg  Euro  693.47
658  Cattle Price per Head  2021M12  Heifers 350-399kg  Euro  806.00
659  Cattle Price per Head  2021M12  Heifers 400-449kg  Euro  912.35

[660 rows x 5 columns]

In [412]:
df2 = df2.rename({"Type of Cattle": "Category"}, axis=1)

In [413]:
df2["Type of Cattle"] = [str(x + " (" + y + ")") for (x,y) in zip(df2["Category"],
                                                                  df2["UNIT"])]

In [414]:
df2

,Statistic,Month,Category,UNIT,VALUE,Type of Cattle
0,Cattle Price per Head,2011M01,Heifers 200-249kg,Euro,445.22,Heifers 200-249kg (Euro)
1,Cattle Price per Head,2011M01,Heifers 250-299kg,Euro,541.00,Heifers 250-299kg (Euro)
2,Cattle Price per Head,2011M01,Heifers 300-349kg,Euro,614.39,Heifers 300-349kg (Euro)
3,Cattle Price per Head,2011M01,Heifers 350-399kg,Euro,663.88,Heifers 350-399kg (Euro)
4,Cattle Price per Head,2011M01,Heifers 400-449kg,Euro,737.82,Heifers 400-449kg (Euro)
...,...,...,...,...,...,...
655,Cattle Price per Head,2021M12,Heifers 200-249kg,Euro,490.37,Heifers 200-249kg (Euro)
656,Cattle Price per Head,2021M12,Heifers 250-299kg,Euro,623.57,Heifers 250-299kg (Euro)
657,Cattle Price per Head,2021M12,Heifers 300-349kg,Euro,693.47,Heifers 300-349kg (Euro)
658,Cattle Price per Head,2021M12,Heifers 350-399kg,Euro,806.00,Heifers 350-399kg (Euro)
659,Cattle Price per Head,2021M12,Heifers 400-449kg,Euro,912.35,Heifers 400-449kg (Euro)

In [415]:
df2 = df2.drop("Statistic", axis=1)

In [416]:
df2

       Month           Category  UNIT   VALUE            Type of Cattle
0    2011M01  Heifers 200-249kg  Euro  445.22  Heifers 200-249kg (Euro)
1    2011M01  Heifers 250-299kg  Euro  541.00  Heifers 250-299kg (Euro)
2    2011M01  Heifers 300-349kg  Euro  614.39  Heifers 300-349kg (Euro)
3    2011M01  Heifers 350-399kg  Euro  663.88  Heifers 350-399kg (Euro)
4    2011M01  Heifers 400-449kg  Euro  737.82  Heifers 400-449kg (Euro)
..       ...                ...   ...     ...                       ...
655  2021M12  Heifers 200-249kg  Euro  490.37  Heifers 200-249kg (Euro)
656  2021M12  Heifers 250-299kg  Euro  623.57  Heifers 250-299kg (Euro)
657  2021M12  Heifers 300-349kg  Euro  693.47  Heifers 300-349kg (Euro)
658  2021M12  Heifers 350-399kg  Euro  806.00  Heifers 350-399kg (Euro)
659  2021M12  Heifers 400-449kg  Euro  912.35  Heifers 400-449kg (Euro)

[660 rows x 5 columns]

In [417]:
df2["Month"] = [x.split("M") for x in df2["Month"]]

In [418]:
df2

          Month           Category  UNIT   VALUE            Type of Cattle
0    [2011, 01]  Heifers 200-249kg  Euro  445.22  Heifers 200-249kg (Euro)
1    [2011, 01]  Heifers 250-299kg  Euro  541.00  Heifers 250-299kg (Euro)
2    [2011, 01]  Heifers 300-349kg  Euro  614.39  Heifers 300-349kg (Euro)
3    [2011, 01]  Heifers 350-399kg  Euro  663.88  Heifers 350-399kg (Euro)
4    [2011, 01]  Heifers 400-449kg  Euro  737.82  Heifers 400-449kg (Euro)
..          ...                ...   ...     ...                       ...
655  [2021, 12]  Heifers 200-249kg  Euro  490.37  Heifers 200-249kg (Euro)
656  [2021, 12]  Heifers 250-299kg  Euro  623.57  Heifers 250-299kg (Euro)
657  [2021, 12]  Heifers 300-349kg  Euro  693.47  Heifers 300-349kg (Euro)
658  [2021, 12]  Heifers 350-399kg  Euro  806.00  Heifers 350-399kg (Euro)
659  [2021, 12]  Heifers 400-449kg  Euro  912.35  Heifers 400-449kg (Euro)

[660 rows x 5 columns]

In [419]:
df2["Year"] = [int(x[0]) for x in df2["Month"]]

In [420]:
df2["Month"] = [int(x[1]) for x in df2["Month"]]

In [421]:
df2

     Month           Category  UNIT   VALUE            Type of Cattle  Year
0        1  Heifers 200-249kg  Euro  445.22  Heifers 200-249kg (Euro)  2011
1        1  Heifers 250-299kg  Euro  541.00  Heifers 250-299kg (Euro)  2011
2        1  Heifers 300-349kg  Euro  614.39  Heifers 300-349kg (Euro)  2011
3        1  Heifers 350-399kg  Euro  663.88  Heifers 350-399kg (Euro)  2011
4        1  Heifers 400-449kg  Euro  737.82  Heifers 400-449kg (Euro)  2011
..     ...                ...   ...     ...                       ...   ...
655     12  Heifers 200-249kg  Euro  490.37  Heifers 200-249kg (Euro)  2021
656     12  Heifers 250-299kg  Euro  623.57  Heifers 250-299kg (Euro)  2021
657     12  Heifers 300-349kg  Euro  693.47  Heifers 300-349kg (Euro)  2021
658     12  Heifers 350-399kg  Euro  806.00  Heifers 350-399kg (Euro)  2021
659     12  Heifers 400-449kg  Euro  912.35  Heifers 400-449kg (Euro)  2021

[660 rows x 6 columns]

In [422]:
df2["Month"] = [inv_months[x] for x in df2["Month"]]

In [423]:
df2_pivot = df2.pivot(index=["Year", "Category", "UNIT"], columns='Month', values="VALUE")

In [424]:
df2_pivot.head(20)

Month                            Apr     Aug     Dec     Feb     Jan     Jul  \
Year Category          UNIT
2011 Heifers 200-249kg Euro   490.50  523.78  572.20  463.66  445.22  502.89
     Heifers 250-299kg Euro   570.06  590.30  622.89  541.28  541.00  585.29
     Heifers 300-349kg Euro   647.20  684.39  726.48  600.72  614.39  664.43
     Heifers 350-399kg Euro   729.61  760.84  797.75  668.94  663.88  748.53
     Heifers 400-449kg Euro   799.90  842.29  878.34  739.21  737.82  829.65
2012 Heifers 200-249kg Euro   611.18  458.54  475.60  622.37  621.64  536.20
     Heifers 250-299kg Euro   705.56  541.26  576.64  707.23  700.50  617.26
     Heifers 300-349kg Euro   801.97  648.31  622.31  808.36  776.69  716.74
     Heifers 350-399kg Euro   902.62  734.70  737.52  884.68  867.30  821.81
     Heifers 400-449kg Euro  1006.71  844.73  852.57  961.05  942.58  917.55
2013 Heifers 200-249kg Euro   472.17  500.37  488.85  517.76  523.87  420.44
     Heifers 250-299kg Euro   577.91  548.00  590.52  630.81  588.25  540.29
     Heifers 300-349kg Euro   673.77  675.70  680.21  712.84  690.35  638.25
     Heifers 350-399kg Euro   820.32  788.83  782.00  807.34  768.50  739.02
     Heifers 400-449kg Euro   927.74  908.91  867.85  917.95  882.01  851.84
2014 Heifers 200-249kg Euro   472.67  506.40  551.02  506.55  498.38  505.24
     Heifers 250-299kg Euro   589.84  547.58  597.84  612.72  597.40  610.18
     Heifers 300-349kg Euro   689.85  660.07  684.32  704.99  704.50  683.85
     Heifers 350-399kg Euro   806.49  757.06  789.25  790.58  789.13  795.18
     Heifers 400-449kg Euro   908.97  835.55  864.86  884.23  867.04  877.23

Month                           Jun      Mar     May     Nov     Oct     Sep
Year Category          UNIT
2011 Heifers 200-249kg Euro  503.26   475.72  495.43  533.88  524.12  578.00
     Heifers 250-299kg Euro  597.71   530.74  582.13  635.98  627.50  587.16
     Heifers 300-349kg Euro  643.20   621.26  658.38  700.63  679.09  666.13
     Heifers 350-399kg Euro  730.51   691.95  740.76  786.22  762.47  737.97
     Heifers 400-449kg Euro  795.94   768.11  829.63  869.94  831.43  823.11
2012 Heifers 200-249kg Euro  600.12   643.39  568.21  511.91  446.00  437.14
     Heifers 250-299kg Euro  681.38   753.95  674.82  517.69  516.86  505.04
     Heifers 300-349kg Euro  777.18   836.96  771.91  632.79  631.03  632.16
     Heifers 350-399kg Euro  899.73   926.91  864.44  742.64  730.85  741.25
     Heifers 400-449kg Euro  995.00  1019.91  975.71  836.14  851.75  850.70
2013 Heifers 200-249kg Euro  431.68   522.05  441.37  532.12  481.63  417.50
     Heifers 250-299kg Euro  545.23   619.77  552.54  553.83  577.37  541.93
     Heifers 300-349kg Euro  669.38   732.02  669.76  639.59  666.65  650.37
     Heifers 350-399kg Euro  786.18   826.26  796.44  741.64  791.75  763.20
     Heifers 400-449kg Euro  919.67   942.24  933.56  860.79  895.54  873.58
2014 Heifers 200-249kg Euro  473.18   497.04  509.21  496.13  508.42  478.33
     Heifers 250-299kg Euro  560.04   588.64  595.29  571.37  584.94  574.39
     Heifers 300-349kg Euro  675.13   682.82  691.55  658.80  679.65  652.47
     Heifers 350-399kg Euro  781.13   789.94  808.22  753.09  774.27  748.98
     Heifers 400-449kg Euro  859.14   906.31  893.82  860.03  863.35  842.18

In [425]:
df2_pivot = df2_pivot.reset_index()

In [426]:
df2_pivot

Month,Year,Category,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2011,Heifers 200-249kg,Euro,490.50,523.78,572.20,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.00
1,2011,Heifers 250-299kg,Euro,570.06,590.30,622.89,541.28,541.00,585.29,597.71,530.74,582.13,635.98,627.50,587.16
2,2011,Heifers 300-349kg,Euro,647.20,684.39,726.48,600.72,614.39,664.43,643.20,621.26,658.38,700.63,679.09,666.13
3,2011,Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Heifers 400-449kg,Euro,799.90,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
5,2012,Heifers 200-249kg,Euro,611.18,458.54,475.60,622.37,621.64,536.20,600.12,643.39,568.21,511.91,446.00,437.14
6,2012,Heifers 250-299kg,Euro,705.56,541.26,576.64,707.23,700.50,617.26,681.38,753.95,674.82,517.69,516.86,505.04
7,2012,Heifers 300-349kg,Euro,801.97,648.31,622.31,808.36,776.69,716.74,777.18,836.96,771.91,632.79,631.03,632.16
8,2012,Heifers 350-399kg,Euro,902.62,734.70,737.52,884.68,867.30,821.81,899.73,926.91,864.44,742.64,730.85,741.25
9,2012,Heifers 400-449kg,Euro,1006.71,844.73,852.57,961.05,942.58,917.55,995.00,1019.91,975.71,836.14,851.75,850.70
10,2013,Heifers 200-249kg,Euro,472.17,500.37,488.85,517.76,523.87,420.44,431.68,522.05,441.37,532.12,481.63,417.50
11,2013,Heifers 250-299kg,Euro,577.91,548.00,590.52,630.81,588.25,540.29,545.23,619.77,552.54,553.83,577.37,541.93
12,2013,Heifers 300-349kg,Euro,673.77,675.70,680.21,712.84,690.35,638.25,669.38,732.02,669.76,639.59,666.65,650.37
13,2013,Heifers 350-399kg,Euro,820.32,788.83,782.00,807.34,768.50,739.02,786.18,826.26,796.44,741.64,791.75,763.20
14,2013,Heifers 400-449kg,Euro,927.74,908.91,867.85,917.95,882.01,851.84,919.67,942.24,933.56,860.79,895.54,873.58
15,2014,Heifers 200-249kg,Euro,472.67,506.40,551.02,506.55,498.38,505.24,473.18,497.04,509.21,496.13,508.42,478.33
16,2014,Heifers 250-299kg,Euro,589.84,547.58,597.84,612.72,597.40,610.18,560.04,588.64,595.29,571.37,584.94,574.39
17,2014,Heifers 300-349kg,Euro,689.85,660.07,684.32,704.99,704.50,683.85,675.13,682.82,691.55,658.80,679.65,652.47
18,2014,Heifers 350-399kg,Euro,806.49,757.06,789.25,790.58,789.13,795.18,781.13,789.94,808.22,753.09,774.27,748.98
19,2014,Heifers 400-449kg,Euro,908.97,835.55,864.86,884.23,867.04,877.23,859.14,906.31,893.82,860.03,863.35,842.18
20,2015,Heifers 200-249kg,Euro,598.35,542.94,489.88,578.06,556.60,578.20,622.83,574.75,566.99,505.46,567.69,568.00
21,2015,Heifers 250-299kg,Euro,684.45,642.69,594.49,691.32,693.28,702.37,697.37,687.01,672.36,623.80,630.53,614.69
22,2015,Heifers 300-349kg,Euro,786.29,744.12,709.96,804.90,765.38,821.65,801.00,770.67,779.63,695.48,743.53,726.91
23,2015,Heifers 350-399kg,Euro,901.96,841.77,808.57,902.23,854.32,923.63,904.59,882.08,877.78,789.36,821.06,833.69
24,2015,Heifers 400-449kg,Euro,1015.77,956.23,885.90,984.08,945.96,1018.27,1018.98,994.71,973.55,882.82,914.81,929.82
25,2016,Heifers 200-249kg,Euro,520.82,540.33,473.89,578.45,534.57,521.67,545.67,576.89,552.83,455.22,424.17,435.00
26,2016,Heifers 250-299kg,Euro,623.94,605.63,573.72,656.32,660.13,621.11,630.42,659.61,655.24,511.59,516.70,566.38
27,2016,Heifers 300-349kg,Euro,721.27,696.53,649.77,754.64,748.13,698.33,730.62,744.15,746.20,600.54,636.19,669.24
28,2016,Heifers 350-399kg,Euro,836.83,785.09,745.74,845.94,817.96,802.24,846.85,857.49,843.51,731.26,726.78,750.59
29,2016,Heifers 400-449kg,Euro,942.54,884.48,840.50,948.29,902.65,900.12,944.37,962.65,959.81,822.54,813.77,855.62
30,2017,Heifers 200-249kg,Euro,524.37,534.06,467.38,529.61,506.38,530.97,498.71,543.93,530.42,477.17,476.28,445.36
31,2017,Heifers 250-299kg,Euro,623.22,607.90,551.46,603.95,610.74,629.35,630.23,635.54,623.99,553.82,550.71,572.53
32,2017,Heifers 300-349kg,Euro,724.27,690.06,636.88,738.44,724.68,716.36,727.71,737.95,715.70,647.64,639.47,641.75
33,2017,Heifers 350-399kg,Euro,827.07,795.18,765.40,806.47,809.54,822.72,836.06,832.43,834.15,760.13,735.54,774.84
34,2017,Heifers 400-449kg,Euro,944.73,903.86,877.70,921.06,881.02,931.80,950.21,931.48,941.72,846.25,835.11,863.18
35,2018,Heifers 200-249kg,Euro,458.90,364.19,373.46,523.60,502.87,398.00,470.56,498.55,456.61,368.75,440.95,362.92
36,2018,Heifers 250-299kg,Euro,571.27,487.61,527.91,610.55,606.04,522.44,564.35,610.35,552.89,450.42,492.60,462.06
37,2018,Heifers 300-349kg,Euro,669.81,579.85,585.44,717.41,699.78,635.44,668.71,707.12,676.97,578.13,564.13,545.86
38,2018,Heifers 350-399kg,Euro,799.78,696.09,698.55,822.83,805.17,703.58,790.91,831.82,806.81,678.87,679.85,667.49
39,2018,Heifers 400-449kg,Euro,926.24,838.18,829.45,908.00,897.59,845.57,904.34,931.73,935.29,793.81,819.36,825.15
40,2019,Heifers 200-249kg,Euro,422.53,441.67,449.38,475.98,466.76,441.51,434.36,461.77,446.33,367.00,420.56,395.00
41,2019,Heifers 250-299kg,Euro,532.32,497.00,493.91,563.93,541.53,517.36,552.38,554.94,562.41,475.32,525.61,479.69
42,2019,Heifers 300-349kg,Euro,646.67,594.76,601.98,704.12,631.18,627.91,678.92,681.29,670.29,580.84,565.08,576.59
43,2019,Heifers 350-399kg,Euro,772.88,700.46,720.53,808.93,766.40,722.09,796.53,788.07,782.83,685.79,663.90,683.06
44,2019,Heifers 400-449kg,Euro,893.58,803.22,831.40,878.64,835.39,827.06,884.92,881.46,910.06,792.25,762.89,782.12
45,2020,Heifers 200-249kg,Euro,440.00,533.75,511.76,463.75,530.40,546.13,472.43,451.92,593.33,431.25,415.94,522.67
46,2020,Heifers 250-299kg,Euro,573.83,582.94,604.88,594.53,580.11,584.78,561.05,553.53,661.74,514.29,552.72,539.79
47,2020,Heifers 300-349kg,Euro,714.59,667.02,640.81,678.36,648.08,665.99,671.37,654.53,741.01,636.42,649.71,643.50
48,2020,Heifers 350-399kg,Euro,769.39,765.94,771.04,800.23,777.26,778.97,782.83,757.85,853.84,740.91,747.48,743.06
49,2020,Heifers 400-449kg,Euro,878.05,853.00,848.81,899.79,864.63,881.04,867.35,861.73,903.46,834.40,838.30,829.73
50,2021,Heifers 200-249kg,Euro,526.39,480.00,490.37,498.79,540.79,515.19,485.51,525.12,499.10,419.66,516.00,450.74
51,2021,Heifers 250-299kg,Euro,613.50,598.07,623.57,601.33,614.47,623.33,608.60,610.85,601.35,547.42,529.67,570.54
52,2021,Heifers 300-349kg,Euro,720.86,689.20,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
53,2021,Heifers 350-399kg,Euro,845.05,801.61,806.00,814.00,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
54,2021,Heifers 400-449kg,Euro,959.20,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [427]:
df2_pivot = df3_pivot.rename(inv_months, axis=1)

In [428]:
df2_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

In [429]:
df2_pivot = df2_pivot.rename({"UNIT": "Unit"}, axis=1)

In [430]:
df2_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

In [431]:
df2_pivot = df3_pivot[df3_pivot.Year < 2022]

In [432]:
df2_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

In [455]:
df2_pivot = df2_pivot[df2_pivot.Category != "Calf meal (16-18% protein) (Euro per Tonne)"]

In [456]:
df2_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

#### Milk Statistics Dataset (2011 - 2021)

In [433]:
df1["Category"] = [str(x + " (" + y + ")") for (x,y) in zip(df1["Category"],
                                                            df1["Unit"])]

In [448]:
df1

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2017,Whole milk sales (excluding imported packaged ...,Million litres,26.2,24.2,27.7,26.4,28.7,30.0,27.1,27.6,27.1,27.3,27,27.1,326.400
95,2018,Whole milk sales (excluding imported packaged ...,Million litres,27.7,26.6,28.5,27.2,29.1,26.8,26.6,27.2,26.4,27.3,26.3,25.8,325.500
96,2019,Whole milk sales (excluding imported packaged ...,Million litres,26.9,25.3,29.0,28.5,28.2,29.4,29.1,28.6,26.8,28.9,26.8,25.8,27.775
97,2020,Whole milk sales (excluding imported packaged ...,Million litres,26.1,25.8,29.1,32.0,31.6,30.6,31.5,28.9,26.7,26.3,25,25.1,338.700
98,2021,Whole milk sales (excluding imported packaged ...,Million litres,25.1,22.4,26.5,27.7,30.8,29.7,30.2,29.0,26.6,26.1,25.5,25.2,324.800

In [450]:
df2_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2014,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
1,2014,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,313,311,289,329,329,311,312,305,315,287,279,297
2,2014,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,276,278,257,303,300,279,278,290,284,256,250,257
3,2014,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,289,287,269,303,302,289,290,288,292,267,270,273
4,2014,Maize meal (Euro per Tonne),Euro per Tonne,233,228,222,248,252,234,240,244,240,224,227,229
5,2015,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
6,2015,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,297,296,293,289,292,296,293,292,295,294,292,294
7,2015,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,264,269,267,262,259,269,267,266,266,265,269,265
8,2015,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,272,273,271,269,269,273,273,272,273,272,272,273
9,2015,Maize meal (Euro per Tonne),Euro per Tonne,221,223,220,220,223,223,224,223,222,219,220,221
10,2016,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
11,2016,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,307,295,295,294,296,299,304,295,304,297,297,295
12,2016,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,252,248,270,264,253,250,268,253,249,249,251
13,2016,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,270,271,271,272,273,273,271,274,272,272,271
14,2016,Maize meal (Euro per Tonne),Euro per Tonne,232,232,230,217,219,231,234,217,233,231,231,230
15,2017,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
16,2017,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,291,294,295,295,294,292,292,291,291,294,294,294
17,2017,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,247,246,245,249,249,247,247,247,247,245,245,245
18,2017,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,270,271,273,270,269,270,270,269,270,273,271,270
19,2017,Maize meal (Euro per Tonne),Euro per Tonne,233,229,230,232,231,231,231,234,233,230,230,230
20,2018,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
21,2018,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,302,323,331,297,296,314,312,299,311,331,330,328
22,2018,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,261,277,284,255,252,271,270,255,267,284,284,283
23,2018,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,276,296,304,274,272,287,289,273,287,304,303,300
24,2018,Maize meal (Euro per Tonne),Euro per Tonne,225,239,239,221,219,232,232,223,227,237,238,239
25,2019,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
26,2019,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,331,321,312,332,332,325,326,331,329,312,312,315
27,2019,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,282,271,266,283,284,274,279,283,282,267,267,270
28,2019,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,303,296,286,304,307,297,298,304,300,286,288,292
29,2019,Maize meal (Euro per Tonne),Euro per Tonne,243,235,230,240,240,236,237,240,240,229,229,231
30,2020,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
31,2020,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,316,320,330,311,311,320,320,313,320,325,322,318
32,2020,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,272,272,283,266,266,272,272,267,273,276,275,272
33,2020,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,291,292,302,285,285,292,292,286,291,297,293,292
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,232,231,248,231,229,231,232,232,232,243,234,231
35,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,.,.,.,.,.,.,.,.,.,.,.,.
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,341,355,374,336,334,354,345,339,346,370,365,360
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,307,316,341,291,289,316,314,297,312,333,328,323
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,317,324,350,310,307,324,323,314,320,344,339,332
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,266,293,323,258,253,292,290,261,283,314,309,299

### Dataset 1

2014-2021, incorporating the data from all 3 datasets

In [457]:
df1_concat = pd.concat([df1, df3_pivot])

In [458]:
df1_concat = pd.concat([df1_concat, df2_pivot])

In [460]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [461]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [462]:
df1_concat = df1_concat.drop("Year.1", axis=1)

In [470]:
df1_concat["Category"].value_counts()

Calf nuts and cubes (16-18% protein) (Euro per Tonne)                                              16
Dairy meal (16-18% protein) (Euro per Tonne)                                                       16
Dairy nuts and cubes (16-18% protein) (Euro per Tonne)                                             16
Maize meal (Euro per Tonne)                                                                        16
Butter (Thousand tonnes)                                                                           11
Cheese (Thousand tonnes)                                                                           11
Cow slaughterings (Thousand tonnes)                                                                11
Domestic milk intake by creameries and pasteurisers (Million litres)                               11
Fat content (Percent)                                                                              11
Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)           11
Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)    11
Skimmed milk powder (Thousand tonnes)                                                              11
Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)               11
Calf meal (16-18% protein) (Euro per Tonne)                                                         8
Name: Category, dtype: int64

In [498]:
df1_melt = df1_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df1_concat.columns[3:], var_name="Month", value_name="Amount")

In [499]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2047,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
2048,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2049,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2050,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2051,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [500]:
df1_melt = df1_melt.drop_duplicates()

In [501]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2015,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
2016,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2017,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2018,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2019,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [505]:
df1_melt = df1_melt.reset_index().drop("index", axis=1)

In [506]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1663,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
1664,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1665,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1666,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [507]:
df1_melt["Month"] = [months[x] for x in df1_melt["Month"]]

In [508]:
df1_melt["Index"] = ["-".join([str(x),str(y),str(z)]) for (x,y,z) in zip(df1_melt["Year"], df1_melt["Month"],
                                               df1_melt["Category"])]

In [509]:
df1_melt["Index"]

0                         2011-1-Butter (Thousand tonnes)
1                         2012-1-Butter (Thousand tonnes)
2                         2013-1-Butter (Thousand tonnes)
3                         2014-1-Butter (Thousand tonnes)
4                         2015-1-Butter (Thousand tonnes)
                              ...
1663    2021-12-Calf meal (16-18% protein) (Euro per T...
1664    2021-12-Calf nuts and cubes (16-18% protein) (...
1665    2021-12-Dairy meal (16-18% protein) (Euro per ...
1666    2021-12-Dairy nuts and cubes (16-18% protein) ...
1667                  2021-12-Maize meal (Euro per Tonne)
Name: Index, Length: 1668, dtype: object

In [510]:
df1_melt[df1_melt.Index == "2021-12-Maize meal (Euro per Tonne)"]

,Year,Category,Unit,Month,Amount,Index
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,12,323,2021-12-Maize meal (Euro per Tonne)

In [545]:
df1_pivot = df1_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [546]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [547]:
df1_pivot = df1_pivot.reset_index().drop("index", axis=1)

In [548]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [549]:
df1_pivot["Index"] = [x.split("-") for x in df1_pivot.Index]

In [550]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [551]:
df1_pivot["Year"] = [int(x[0]) for x in df1_pivot.Index]
df1_pivot["Month"] = [int(x[1]) for x in df1_pivot.Index]

In [552]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres),Year,Month
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9

In [553]:
cols_sorted = list(df1_pivot.columns[-2:]) + list(df1_pivot.columns[1:-2])
cols_sorted

['Year',
 'Month',
 'Butter (Thousand tonnes)',
 'Calf meal (16-18% protein) (Euro per Tonne)',
 'Calf nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Cheese (Thousand tonnes)',
 'Cow slaughterings (Thousand tonnes)',
 'Dairy meal (16-18% protein) (Euro per Tonne)',
 'Dairy nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Domestic milk intake by creameries and pasteurisers (Million litres)',
 'Fat content (Percent)',
 'Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)',
 'Maize meal (Euro per Tonne)',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)',
 'Skimmed milk powder (Thousand tonnes)',
 'Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)']

In [554]:
df1_pivot = df1_pivot[cols_sorted]

In [555]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [556]:
df1_pivot = df1_pivot.fillna(0)

In [557]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1,2011,1,0.0,0,0,2.5,0,0,0,0.0,0.00,0,0,0.0,0,0.0
2,2011,1,0.0,0,0,0.0,40.1,0,0,0.0,0.00,0,0,0.0,0,0.0
3,2011,1,0.0,0,0,0.0,0,0,0,146.7,0.00,0,0,0.0,0,0.0
4,2011,1,0.0,0,0,0.0,0,0,0,0.0,3.99,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1664,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,299,0.0,0,0.0
1665,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,15.1,0,0.0
1666,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,11.1,0.0
1667,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,26.6

In [558]:
df_pivot = df1_pivot.groupby(["Year", "Month"]).sum()

In [559]:
df_pivot = df_pivot.reset_index()

In [560]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [561]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [562]:
df_pivot = df_pivot[df_pivot.Year > 2013]

In [563]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
36,2014,1,4.4,329,2.3,300,302,132.0,4.11,252,16.9,23.5
37,2014,2,6.2,329,6.5,303,303,214.0,4.11,248,15.4,21.3
38,2014,3,14.4,305,18.4,290,288,470.7,4.08,244,18.7,25.4
39,2014,4,17.3,313,22.8,276,289,697.0,3.87,233,15.0,21.9
40,2014,5,21.7,315,24.8,284,292,785.5,3.75,240,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [564]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [565]:
results = imputer.fit_transform(df_pivot)

In [566]:
results

array([[2.014e+03, 1.000e+00, 4.400e+00, ..., 2.520e+02, 1.690e+01,
        2.350e+01],
       [2.014e+03, 2.000e+00, 6.200e+00, ..., 2.480e+02, 1.540e+01,
        2.130e+01],
       [2.014e+03, 3.000e+00, 1.440e+01, ..., 2.440e+02, 1.870e+01,
        2.540e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

###

In [567]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [569]:
df_imputed

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2014.0,1.0,4.4,329.0,2.3,300.0,302.0,132.0,4.11,252.0,16.9,23.5
1,2014.0,2.0,6.2,329.0,6.5,303.0,303.0,214.0,4.11,248.0,15.4,21.3
2,2014.0,3.0,14.4,305.0,18.4,290.0,288.0,470.7,4.08,244.0,18.7,25.4
3,2014.0,4.0,17.3,313.0,22.8,276.0,289.0,697.0,3.87,233.0,15.0,21.9
4,2014.0,5.0,21.7,315.0,24.8,284.0,292.0,785.5,3.75,240.0,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,293.0,15.8,29.0
92,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,299.0,15.1,26.6
93,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,309.0,15.8,26.1
94,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,314.0,15.4,25.5
95,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,323.0,15.0,25.2

In [570]:
df_imputed.to_csv(cwd+"milk dataset 1.csv")

In [258]:
df3

,Statistic,Month,Type of Feedstuff,UNIT,VALUE
0,Feed Stuff Price,2014M01,Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Calf nuts and cubes (16-18% protein),Euro per Tonne,329
2,Feed Stuff Price,2014M01,Calf meal (16-18% protein),Euro per Tonne,.
3,Feed Stuff Price,2014M01,Dairy nuts and cubes (16-18% protein),Euro per Tonne,302
4,Feed Stuff Price,2014M01,Dairy meal (16-18% protein),Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Calf nuts and cubes (16-18% protein),Euro per Tonne,395
487,Feed Stuff Price,2022M02,Calf meal (16-18% protein),Euro per Tonne,.
488,Feed Stuff Price,2022M02,Dairy nuts and cubes (16-18% protein),Euro per Tonne,374
489,Feed Stuff Price,2022M02,Dairy meal (16-18% protein),Euro per Tonne,363

In [259]:
df3["Type of Feedstuff"] = [("Average price per tonne of "+ x) for x in df3["Type of Feedstuff"]]

In [260]:
df3

,Statistic,Month,Type of Feedstuff,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Average price per tonne of Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,395
487,Feed Stuff Price,2022M02,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
488,Feed Stuff Price,2022M02,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,374
489,Feed Stuff Price,2022M02,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,363

In [262]:
df2["Type of Cattle"] = [("Average value of "+ x) for x in df2["Type of Cattle"]]

In [263]:
df2 = df2.rename({"Type of Cattle": "Type"}, axis=1)
df3 = df3.rename({"Type of Feedstuff": "Type"}, axis=1)

In [264]:
df2

,Statistic,Month,Type,UNIT,VALUE
0,Cattle Price per Head,2011M01,Average value of Heifers 200-249kg,Euro,445.22
1,Cattle Price per Head,2011M01,Average value of Heifers 250-299kg,Euro,541.00
2,Cattle Price per Head,2011M01,Average value of Heifers 300-349kg,Euro,614.39
3,Cattle Price per Head,2011M01,Average value of Heifers 350-399kg,Euro,663.88
4,Cattle Price per Head,2011M01,Average value of Heifers 400-449kg,Euro,737.82
...,...,...,...,...,...
655,Cattle Price per Head,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,Cattle Price per Head,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,Cattle Price per Head,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,Cattle Price per Head,2021M12,Average value of Heifers 350-399kg,Euro,806.00
659,Cattle Price per Head,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [265]:
df3

,Statistic,Month,Type,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Average price per tonne of Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,395
487,Feed Stuff Price,2022M02,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
488,Feed Stuff Price,2022M02,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,374
489,Feed Stuff Price,2022M02,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,363

In [266]:
df_concat2 = pd.concat([df3, df2])

In [267]:
df_concat2

,Statistic,Month,Type,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
655,Cattle Price per Head,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,Cattle Price per Head,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,Cattle Price per Head,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,Cattle Price per Head,2021M12,Average value of Heifers 350-399kg,Euro,806.0
659,Cattle Price per Head,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [268]:
df3 = df_concat2

In [269]:
df_concat2["Type"].value_counts()

Average value of Heifers 200-249kg                                  132
Average value of Heifers 250-299kg                                  132
Average value of Heifers 300-349kg                                  132
Average value of Heifers 350-399kg                                  132
Average value of Heifers 400-449kg                                  132
Average price per tonne of Maize meal                                98
Average price per tonne of Calf nuts and cubes (16-18% protein)      98
Average price per tonne of Calf meal (16-18% protein)                98
Average price per tonne of Dairy nuts and cubes (16-18% protein)     98
Average price per tonne of Dairy meal (16-18% protein)               98
Name: Type, dtype: int64

In [270]:
df3 = df3.drop("Statistic", axis=1)

In [271]:
df3

,Month,Type,UNIT,VALUE
0,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...
655,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,2021M12,Average value of Heifers 350-399kg,Euro,806.0
659,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [272]:
df3["Month"] = [x.split("M") for x in df3["Month"]]

In [273]:
df3

,Month,Type,UNIT,VALUE
0,"[2014, 01]",Average price per tonne of Maize meal,Euro per Tonne,252
1,"[2014, 01]",Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,"[2014, 01]",Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,"[2014, 01]",Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,"[2014, 01]",Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...
655,"[2021, 12]",Average value of Heifers 200-249kg,Euro,490.37
656,"[2021, 12]",Average value of Heifers 250-299kg,Euro,623.57
657,"[2021, 12]",Average value of Heifers 300-349kg,Euro,693.47
658,"[2021, 12]",Average value of Heifers 350-399kg,Euro,806.0
659,"[2021, 12]",Average value of Heifers 400-449kg,Euro,912.35

In [274]:
df3["Year"] = [int(x[0]) for x in df3["Month"]]

In [275]:
df3["Month"] = [int(x[1]) for x in df3["Month"]]

In [278]:
df3["Month"] = [inv_months[x] for x in df3["Month"]]

In [279]:
df3

,Month,Type,UNIT,VALUE,Year
0,Jan,Average price per tonne of Maize meal,Euro per Tonne,252,2014
1,Jan,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329,2014
2,Jan,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.,2014
3,Jan,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302,2014
4,Jan,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300,2014
...,...,...,...,...,...
655,Dec,Average value of Heifers 200-249kg,Euro,490.37,2021
656,Dec,Average value of Heifers 250-299kg,Euro,623.57,2021
657,Dec,Average value of Heifers 300-349kg,Euro,693.47,2021
658,Dec,Average value of Heifers 350-399kg,Euro,806.0,2021
659,Dec,Average value of Heifers 400-449kg,Euro,912.35,2021

In [280]:
df3_pivot = df3.pivot(index=["Year", "Type", "UNIT"], columns='Month', values="VALUE")

In [281]:
df3_pivot.head(20)

Month                                                                       Apr  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro              490.5
     Average value of Heifers 250-299kg                 Euro             570.06
     Average value of Heifers 300-349kg                 Euro              647.2
     Average value of Heifers 350-399kg                 Euro             729.61
     Average value of Heifers 400-449kg                 Euro              799.9
2012 Average value of Heifers 200-249kg                 Euro             611.18
     Average value of Heifers 250-299kg                 Euro             705.56
     Average value of Heifers 300-349kg                 Euro             801.97
     Average value of Heifers 350-399kg                 Euro             902.62
     Average value of Heifers 400-449kg                 Euro            1006.71
2013 Average value of Heifers 200-249kg                 Euro             472.17
     Average value of Heifers 250-299kg                 Euro             577.91
     Average value of Heifers 300-349kg                 Euro             673.77
     Average value of Heifers 350-399kg                 Euro             820.32
     Average value of Heifers 400-449kg                 Euro             927.74
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne        .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne      313
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne      276
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne      289
     Average price per tonne of Maize meal              Euro per Tonne      233

Month                                                                      Aug  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            523.78
     Average value of Heifers 250-299kg                 Euro             590.3
     Average value of Heifers 300-349kg                 Euro            684.39
     Average value of Heifers 350-399kg                 Euro            760.84
     Average value of Heifers 400-449kg                 Euro            842.29
2012 Average value of Heifers 200-249kg                 Euro            458.54
     Average value of Heifers 250-299kg                 Euro            541.26
     Average value of Heifers 300-349kg                 Euro            648.31
     Average value of Heifers 350-399kg                 Euro             734.7
     Average value of Heifers 400-449kg                 Euro            844.73
2013 Average value of Heifers 200-249kg                 Euro            500.37
     Average value of Heifers 250-299kg                 Euro             548.0
     Average value of Heifers 300-349kg                 Euro             675.7
     Average value of Heifers 350-399kg                 Euro            788.83
     Average value of Heifers 400-449kg                 Euro            908.91
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     311
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     278
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     287
     Average price per tonne of Maize meal              Euro per Tonne     228

Month                                                                      Dec  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             572.2
     Average value of Heifers 250-299kg                 Euro            622.89
     Average value of Heifers 300-349kg                 Euro            726.48
     Average value of Heifers 350-399kg                 Euro            797.75
     Average value of Heifers 400-449kg                 Euro            878.34
2012 Average value of Heifers 200-249kg                 Euro             475.6
     Average value of Heifers 250-299kg                 Euro            576.64
     Average value of Heifers 300-349kg                 Euro            622.31
     Average value of Heifers 350-399kg                 Euro            737.52
     Average value of Heifers 400-449kg                 Euro            852.57
2013 Average value of Heifers 200-249kg                 Euro            488.85
     Average value of Heifers 250-299kg                 Euro            590.52
     Average value of Heifers 300-349kg                 Euro            680.21
     Average value of Heifers 350-399kg                 Euro             782.0
     Average value of Heifers 400-449kg                 Euro            867.85
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     289
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     257
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     269
     Average price per tonne of Maize meal              Euro per Tonne     222

Month                                                                      Feb  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            463.66
     Average value of Heifers 250-299kg                 Euro            541.28
     Average value of Heifers 300-349kg                 Euro            600.72
     Average value of Heifers 350-399kg                 Euro            668.94
     Average value of Heifers 400-449kg                 Euro            739.21
2012 Average value of Heifers 200-249kg                 Euro            622.37
     Average value of Heifers 250-299kg                 Euro            707.23
     Average value of Heifers 300-349kg                 Euro            808.36
     Average value of Heifers 350-399kg                 Euro            884.68
     Average value of Heifers 400-449kg                 Euro            961.05
2013 Average value of Heifers 200-249kg                 Euro            517.76
     Average value of Heifers 250-299kg                 Euro            630.81
     Average value of Heifers 300-349kg                 Euro            712.84
     Average value of Heifers 350-399kg                 Euro            807.34
     Average value of Heifers 400-449kg                 Euro            917.95
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     329
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     303
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     303
     Average price per tonne of Maize meal              Euro per Tonne     248

Month                                                                      Jan  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            445.22
     Average value of Heifers 250-299kg                 Euro             541.0
     Average value of Heifers 300-349kg                 Euro            614.39
     Average value of Heifers 350-399kg                 Euro            663.88
     Average value of Heifers 400-449kg                 Euro            737.82
2012 Average value of Heifers 200-249kg                 Euro            621.64
     Average value of Heifers 250-299kg                 Euro             700.5
     Average value of Heifers 300-349kg                 Euro            776.69
     Average value of Heifers 350-399kg                 Euro             867.3
     Average value of Heifers 400-449kg                 Euro            942.58
2013 Average value of Heifers 200-249kg                 Euro            523.87
     Average value of Heifers 250-299kg                 Euro            588.25
     Average value of Heifers 300-349kg                 Euro            690.35
     Average value of Heifers 350-399kg                 Euro             768.5
     Average value of Heifers 400-449kg                 Euro            882.01
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     329
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     300
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     302
     Average price per tonne of Maize meal              Euro per Tonne     252

Month                                                                      Jul  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            502.89
     Average value of Heifers 250-299kg                 Euro            585.29
     Average value of Heifers 300-349kg                 Euro            664.43
     Average value of Heifers 350-399kg                 Euro            748.53
     Average value of Heifers 400-449kg                 Euro            829.65
2012 Average value of Heifers 200-249kg                 Euro             536.2
     Average value of Heifers 250-299kg                 Euro            617.26
     Average value of Heifers 300-349kg                 Euro            716.74
     Average value of Heifers 350-399kg                 Euro            821.81
     Average value of Heifers 400-449kg                 Euro            917.55
2013 Average value of Heifers 200-249kg                 Euro            420.44
     Average value of Heifers 250-299kg                 Euro            540.29
     Average value of Heifers 300-349kg                 Euro            638.25
     Average value of Heifers 350-399kg                 Euro            739.02
     Average value of Heifers 400-449kg                 Euro            851.84
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     311
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     279
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     289
     Average price per tonne of Maize meal              Euro per Tonne     234

Month                                                                      Jun  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            503.26
     Average value of Heifers 250-299kg                 Euro            597.71
     Average value of Heifers 300-349kg                 Euro             643.2
     Average value of Heifers 350-399kg                 Euro            730.51
     Average value of Heifers 400-449kg                 Euro            795.94
2012 Average value of Heifers 200-249kg                 Euro            600.12
     Average value of Heifers 250-299kg                 Euro            681.38
     Average value of Heifers 300-349kg                 Euro            777.18
     Average value of Heifers 350-399kg                 Euro            899.73
     Average value of Heifers 400-449kg                 Euro             995.0
2013 Average value of Heifers 200-249kg                 Euro            431.68
     Average value of Heifers 250-299kg                 Euro            545.23
     Average value of Heifers 300-349kg                 Euro            669.38
     Average value of Heifers 350-399kg                 Euro            786.18
     Average value of Heifers 400-449kg                 Euro            919.67
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     312
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     278
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     290
     Average price per tonne of Maize meal              Euro per Tonne     240

Month                                                                       Mar  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             475.72
     Average value of Heifers 250-299kg                 Euro             530.74
     Average value of Heifers 300-349kg                 Euro             621.26
     Average value of Heifers 350-399kg                 Euro             691.95
     Average value of Heifers 400-449kg                 Euro             768.11
2012 Average value of Heifers 200-249kg                 Euro             643.39
     Average value of Heifers 250-299kg                 Euro             753.95
     Average value of Heifers 300-349kg                 Euro             836.96
     Average value of Heifers 350-399kg                 Euro             926.91
     Average value of Heifers 400-449kg                 Euro            1019.91
2013 Average value of Heifers 200-249kg                 Euro             522.05
     Average value of Heifers 250-299kg                 Euro             619.77
     Average value of Heifers 300-349kg                 Euro             732.02
     Average value of Heifers 350-399kg                 Euro             826.26
     Average value of Heifers 400-449kg                 Euro             942.24
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne        .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne      305
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne      290
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne      288
     Average price per tonne of Maize meal              Euro per Tonne      244

Month                                                                      May  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            495.43
     Average value of Heifers 250-299kg                 Euro            582.13
     Average value of Heifers 300-349kg                 Euro            658.38
     Average value of Heifers 350-399kg                 Euro            740.76
     Average value of Heifers 400-449kg                 Euro            829.63
2012 Average value of Heifers 200-249kg                 Euro            568.21
     Average value of Heifers 250-299kg                 Euro            674.82
     Average value of Heifers 300-349kg                 Euro            771.91
     Average value of Heifers 350-399kg                 Euro            864.44
     Average value of Heifers 400-449kg                 Euro            975.71
2013 Average value of Heifers 200-249kg                 Euro            441.37
     Average value of Heifers 250-299kg                 Euro            552.54
     Average value of Heifers 300-349kg                 Euro            669.76
     Average value of Heifers 350-399kg                 Euro            796.44
     Average value of Heifers 400-449kg                 Euro            933.56
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     315
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     284
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     292
     Average price per tonne of Maize meal              Euro per Tonne     240

Month                                                                      Nov  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            533.88
     Average value of Heifers 250-299kg                 Euro            635.98
     Average value of Heifers 300-349kg                 Euro            700.63
     Average value of Heifers 350-399kg                 Euro            786.22
     Average value of Heifers 400-449kg                 Euro            869.94
2012 Average value of Heifers 200-249kg                 Euro            511.91
     Average value of Heifers 250-299kg                 Euro            517.69
     Average value of Heifers 300-349kg                 Euro            632.79
     Average value of Heifers 350-399kg                 Euro            742.64
     Average value of Heifers 400-449kg                 Euro            836.14
2013 Average value of Heifers 200-249kg                 Euro            532.12
     Average value of Heifers 250-299kg                 Euro            553.83
     Average value of Heifers 300-349kg                 Euro            639.59
     Average value of Heifers 350-399kg                 Euro            741.64
     Average value of Heifers 400-449kg                 Euro            860.79
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     287
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     256
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     267
     Average price per tonne of Maize meal              Euro per Tonne     224

Month                                                                      Oct  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            524.12
     Average value of Heifers 250-299kg                 Euro             627.5
     Average value of Heifers 300-349kg                 Euro            679.09
     Average value of Heifers 350-399kg                 Euro            762.47
     Average value of Heifers 400-449kg                 Euro            831.43
2012 Average value of Heifers 200-249kg                 Euro             446.0
     Average value of Heifers 250-299kg                 Euro            516.86
     Average value of Heifers 300-349kg                 Euro            631.03
     Average value of Heifers 350-399kg                 Euro            730.85
     Average value of Heifers 400-449kg                 Euro            851.75
2013 Average value of Heifers 200-249kg                 Euro            481.63
     Average value of Heifers 250-299kg                 Euro            577.37
     Average value of Heifers 300-349kg                 Euro            666.65
     Average value of Heifers 350-399kg                 Euro            791.75
     Average value of Heifers 400-449kg                 Euro            895.54
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     279
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     250
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     270
     Average price per tonne of Maize meal              Euro per Tonne     227

Month                                                                      Sep
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             578.0
     Average value of Heifers 250-299kg                 Euro            587.16
     Average value of Heifers 300-349kg                 Euro            666.13
     Average value of Heifers 350-399kg                 Euro            737.97
     Average value of Heifers 400-449kg                 Euro            823.11
2012 Average value of Heifers 200-249kg                 Euro            437.14
     Average value of Heifers 250-299kg                 Euro            505.04
     Average value of Heifers 300-349kg                 Euro            632.16
     Average value of Heifers 350-399kg                 Euro            741.25
     Average value of Heifers 400-449kg                 Euro             850.7

In [282]:
df3_pivot = df3_pivot.reset_index()

In [283]:
df3_pivot

Month,Year,Type,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022,Average price per tonne of Maize meal,Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
df3_pivot.index.names = [""]

In [285]:
inv_months = {v: k for k, v in months.items()}

In [286]:
df3_pivot = df3_pivot.rename(inv_months, axis=1)

In [287]:
df3_pivot

Month,Year,Type,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022,Average price per tonne of Maize meal,Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [311]:
df3_pivot = df3_pivot.rename({"UNIT": "Unit"}, axis=1)

In [312]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [291]:
df3_pivot = df3_pivot[df3_pivot.Year < 2022]

In [292]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [293]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [294]:
df1

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter,Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter,Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter,Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter,Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter,Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2017,Whole milk sales (excluding imported packaged ...,Million litres,26.2,24.2,27.7,26.4,28.7,30.0,27.1,27.6,27.1,27.3,27,27.1,326.400
95,2018,Whole milk sales (excluding imported packaged ...,Million litres,27.7,26.6,28.5,27.2,29.1,26.8,26.6,27.2,26.4,27.3,26.3,25.8,325.500
96,2019,Whole milk sales (excluding imported packaged ...,Million litres,26.9,25.3,29.0,28.5,28.2,29.4,29.1,28.6,26.8,28.9,26.8,25.8,27.775
97,2020,Whole milk sales (excluding imported packaged ...,Million litres,26.1,25.8,29.1,32.0,31.6,30.6,31.5,28.9,26.7,26.3,25,25.1,338.700
98,2021,Whole milk sales (excluding imported packaged ...,Million litres,25.1,22.4,26.5,27.7,30.8,29.7,30.2,29.0,26.6,26.1,25.5,25.2,324.800

In [207]:
df_concat = pd.concat([df1, df3_pivot])

In [208]:
df_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter,Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter,Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter,Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter,Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter,Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2021,Heifers 250-299kg,Euro,614.47,601.33,610.85,613.5,601.35,608.6,623.33,598.07,570.54,529.67,547.42,623.57,NaN
83,2021,Heifers 300-349kg,Euro,691.65,690.26,713.21,720.86,689.16,730.25,723.04,689.2,694.88,656.53,641.39,693.47,NaN
84,2021,Heifers 350-399kg,Euro,798.03,814.0,827.74,845.05,796.61,844.54,837.85,801.61,804.71,777.37,762.83,806.0,NaN
85,2021,Heifers 400-449kg,Euro,896.38,893.93,946.35,959.2,928.02,965.24,941.82,913.59,915.68,890.95,888.34,912.35,NaN
86,2021,Maize meal,Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [209]:
df_concat = df_concat.drop("Year.1", axis=1)

In [210]:
df_melt = df_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df_concat.columns[3:], var_name="Month", value_name="Amount")

In [211]:
df_melt

      Year           Category             Unit Month  Amount
0     2011             Butter  Thousand tonnes   Jan     4.0
1     2012             Butter  Thousand tonnes   Jan     4.0
2     2013             Butter  Thousand tonnes   Jan     4.0
3     2014             Butter  Thousand tonnes   Jan     4.4
4     2015             Butter  Thousand tonnes   Jan     3.5
...    ...                ...              ...   ...     ...
2227  2021  Heifers 250-299kg             Euro   Dec  623.57
2228  2021  Heifers 300-349kg             Euro   Dec  693.47
2229  2021  Heifers 350-399kg             Euro   Dec   806.0
2230  2021  Heifers 400-449kg             Euro   Dec  912.35
2231  2021         Maize meal   Euro per Tonne   Dec     323

[2232 rows x 5 columns]

In [212]:
df_melt[df_melt.Year == 2022]

Empty DataFrame
Columns: [Year, Category, Unit, Month, Amount]
Index: []

In [213]:
df_melt

      Year           Category             Unit Month  Amount
0     2011             Butter  Thousand tonnes   Jan     4.0
1     2012             Butter  Thousand tonnes   Jan     4.0
2     2013             Butter  Thousand tonnes   Jan     4.0
3     2014             Butter  Thousand tonnes   Jan     4.4
4     2015             Butter  Thousand tonnes   Jan     3.5
...    ...                ...              ...   ...     ...
2227  2021  Heifers 250-299kg             Euro   Dec  623.57
2228  2021  Heifers 300-349kg             Euro   Dec  693.47
2229  2021  Heifers 350-399kg             Euro   Dec   806.0
2230  2021  Heifers 400-449kg             Euro   Dec  912.35
2231  2021         Maize meal   Euro per Tonne   Dec     323

[2232 rows x 5 columns]

In [214]:
df_melt["Month"] = [months[x] for x in df_melt["Month"]]

In [215]:
df_melt["Index"] = ["-".join([str(x),str(y),str(z),str(a)]) for (x,y,z,a) in zip(df_melt["Year"], df_melt["Month"],
                                               df_melt["Category"], df_melt["Unit"])]

In [216]:
df_melt["Index"]

0           2011-1-Butter-Thousand tonnes
1           2012-1-Butter-Thousand tonnes
2           2013-1-Butter-Thousand tonnes
3           2014-1-Butter-Thousand tonnes
4           2015-1-Butter-Thousand tonnes
                      ...
2227       2021-12-Heifers 250-299kg-Euro
2228       2021-12-Heifers 300-349kg-Euro
2229       2021-12-Heifers 350-399kg-Euro
2230       2021-12-Heifers 400-449kg-Euro
2231    2021-12-Maize meal-Euro per Tonne
Name: Index, Length: 2232, dtype: object

In [236]:
df_pivot2 = df_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [237]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011-1-Butter-Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese-Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings-Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content-Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021-9-Maize meal-Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021-9-Skimmed milk powder-Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [238]:
df_pivot2 = df_pivot2.reset_index().drop("index", axis=1)

In [239]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011-1-Butter-Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese-Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings-Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content-Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021-9-Maize meal-Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021-9-Skimmed milk powder-Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [240]:
df_pivot2["Index"] = [x.split("-") for x in df_pivot2.Index]

In [241]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,"[2011, 1, Butter, Thousand tonnes]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese, Thousand tonnes]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings, Thousand tonnes]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content, Percent]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"[2021, 9, Maize meal, Euro per Tonne]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,"[2021, 9, Skimmed milk powder, Thousand tonnes]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [223]:
df_pivot2["Year"] = [int(x[0]) for x in df_pivot2.Index]
df_pivot2["Month"] = [int(x[1]) for x in df_pivot2.Index]
df_pivot2["Unit"] = [x[3] for x in df_pivot2.Index]

In [224]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,...,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale),Year,Month,Unit
0,"[2011, 1, Butter, Thousand tonnes]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
1,"[2011, 1, Cheese, Thousand tonnes]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
2,"[2011, 1, Cow slaughterings, Thousand tonnes]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Million litres
4,"[2011, 1, Fat content, Percent]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Percent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9,Million litres
2228,"[2021, 9, Maize meal, Euro per Tonne]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9,Euro per Tonne
2229,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9,skimmed milk (excluding imported packaged milk...
2230,"[2021, 9, Skimmed milk powder, Thousand tonnes]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9,Thousand tonnes
2231,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9,Million litres

In [225]:
cols_sorted = list(df_pivot2.columns[-3:]) + list(df_pivot2.columns[1:-3])
cols_sorted

['Year',
 'Month',
 'Unit',
 'Butter',
 'Calf nuts and cubes (16-18% protein)',
 'Cheese',
 'Cow slaughterings',
 'Dairy meal (16-18% protein)',
 'Dairy nuts and cubes (16-18% protein)',
 'Domestic milk intake by creameries and pasteurisers',
 'Fat content',
 'Heifers 200-249kg',
 'Heifers 250-299kg',
 'Heifers 300-349kg',
 'Heifers 350-399kg',
 'Heifers 400-449kg',
 'Imported milk intake (excluding imported packaged milk for retail sale)',
 'Maize meal',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)',
 'Skimmed milk powder',
 'Whole milk sales (excluding imported packaged milk for retail sale)']

In [226]:
df_pivot2 = df_pivot2[cols_sorted]

In [227]:
df_pivot2

Category,Year,Month,Unit,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,146.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021,9,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021,9,Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021,9,skimmed milk (excluding imported packaged milk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021,9,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021,9,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [228]:
df_pivot2 = df_pivot2.fillna(0)

In [229]:
df_pivot2

Category,Year,Month,Unit,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,Thousand tonnes,4.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
1,2011,1,Thousand tonnes,0.0,0,2.5,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
2,2011,1,Thousand tonnes,0.0,0,0.0,40.1,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
3,2011,1,Million litres,0.0,0,0.0,0,0,0,146.7,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
4,2011,1,Percent,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021,9,Million litres,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
2228,2021,9,Euro per Tonne,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,299,0.0,0,0.0
2229,2021,9,skimmed milk (excluding imported packaged milk...,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,15.1,0,0.0
2230,2021,9,Thousand tonnes,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,11.1,0.0
2231,2021,9,Million litres,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,26.6

In [230]:
df_pivot2.groupby(["Year", "Month"]).sum()

Category    Butter  Calf nuts and cubes (16-18% protein)  Cheese  \
Year Month
2011 1         4.0                                     0     2.5
     2         5.8                                     0     5.3
     3        12.5                                     0    15.9
     4        14.9                                     0    21.6
     5        19.0                                     0    24.7
...            ...                                   ...     ...
2021 8        28.8                                   355    29.3
     9        26.5                                   360    33.2
     10       21.6                                   365    27.5
     11       17.8                                   370    20.9
     12       12.2                                   374     7.5

Category    Dairy meal (16-18% protein)  \
Year Month
2011 1                                0
     2                                0
     3                                0
     4                                0
     5                                0
...                                 ...
2021 8                              316
     9                              323
     10                             328
     11                             333
     12                             341

Category    Dairy nuts and cubes (16-18% protein)  \
Year Month
2011 1                                          0
     2                                          0
     3                                          0
     4                                          0
     5                                          0
...                                           ...
2021 8                                        324
     9                                        332
     10                                       339
     11                                       344
     12                                       350

Category    Domestic milk intake by creameries and pasteurisers  Fat content  \
Year Month
2011 1                                                  146.7           3.99
     2                                                  217.8           3.96
     3                                                  448.4           3.91
     4                                                  634.5           3.72
     5                                                  737.9           3.69
...                                                       ...            ...
2021 8                                                  917.4           4.19
     9                                                  776.7           4.43
     10                                                 652.8           4.77
     11                                                 460.6           4.90
     12                                                 256.3           4.74

Category    Heifers 200-249kg  Heifers 250-299kg  Heifers 300-349kg  \
Year Month
2011 1                 445.22             541.00             614.39
     2                 463.66             541.28             600.72
     3                 475.72             530.74             621.26
     4                 490.50             570.06             647.20
     5                 495.43             582.13             658.38
...                       ...                ...                ...
2021 8                 480.00             598.07             689.20
     9                 450.74             570.54             694.88
     10                516.00             529.67             656.53
     11                419.66             547.42             641.39
     12                490.37             623.57             693.47

Category    Heifers 350-399kg  Heifers 400-449kg  Maize meal  \
Year Month
2011 1                 663.88             737.82           0
     2                 668.94             739.21           0
     3                 691.95             768.11           0
     4                 729.61             799.90           0
     5                 740.76             829.63           0
...                       ...                ...         ...
2021 8                 801.61             913.59         293
     9                 804.71             915.68         299
     10                777.37             890.95         309
     11                762.83             888.34         314
     12                806.00             912.35         323

Category    Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)  \
Year Month
2011 1                                                   14.5
     2                                                   13.8
     3                                                   15.8
     4                                                   13.9
     5                                                   15.0
...                                                       ...
2021 8                                                   15.8
     9                                                   15.1
     10                                                  15.8
     11                                                  15.4
     12                                                  15.0

Category    Whole milk sales (excluding imported packaged milk for retail sale)
Year Month
2011 1                                                   27.6
     2                                                   25.2
     3                                                   29.1
     4                                                   25.2
     5                                                   27.3
...                                                       ...
2021 8                                                   29.0
     9                                                   26.6
     10                                                  26.1
     11                                                  25.5
     12                                                  25.2

[132 rows x 15 columns]

In [231]:
df_pivot2.groupby(["Year", "Month"]).sum()

Category    Butter  Calf nuts and cubes (16-18% protein)  Cheese  \
Year Month
2011 1         4.0                                     0     2.5
     2         5.8                                     0     5.3
     3        12.5                                     0    15.9
     4        14.9                                     0    21.6
     5        19.0                                     0    24.7
...            ...                                   ...     ...
2021 8        28.8                                   355    29.3
     9        26.5                                   360    33.2
     10       21.6                                   365    27.5
     11       17.8                                   370    20.9
     12       12.2                                   374     7.5

Category    Dairy meal (16-18% protein)  \
Year Month
2011 1                                0
     2                                0
     3                                0
     4                                0
     5                                0
...                                 ...
2021 8                              316
     9                              323
     10                             328
     11                             333
     12                             341

Category    Dairy nuts and cubes (16-18% protein)  \
Year Month
2011 1                                          0
     2                                          0
     3                                          0
     4                                          0
     5                                          0
...                                           ...
2021 8                                        324
     9                                        332
     10                                       339
     11                                       344
     12                                       350

Category    Domestic milk intake by creameries and pasteurisers  Fat content  \
Year Month
2011 1                                                  146.7           3.99
     2                                                  217.8           3.96
     3                                                  448.4           3.91
     4                                                  634.5           3.72
     5                                                  737.9           3.69
...                                                       ...            ...
2021 8                                                  917.4           4.19
     9                                                  776.7           4.43
     10                                                 652.8           4.77
     11                                                 460.6           4.90
     12                                                 256.3           4.74

Category    Heifers 200-249kg  Heifers 250-299kg  Heifers 300-349kg  \
Year Month
2011 1                 445.22             541.00             614.39
     2                 463.66             541.28             600.72
     3                 475.72             530.74             621.26
     4                 490.50             570.06             647.20
     5                 495.43             582.13             658.38
...                       ...                ...                ...
2021 8                 480.00             598.07             689.20
     9                 450.74             570.54             694.88
     10                516.00             529.67             656.53
     11                419.66             547.42             641.39
     12                490.37             623.57             693.47

Category    Heifers 350-399kg  Heifers 400-449kg  Maize meal  \
Year Month
2011 1                 663.88             737.82           0
     2                 668.94             739.21           0
     3                 691.95             768.11           0
     4                 729.61             799.90           0
     5                 740.76             829.63           0
...                       ...                ...         ...
2021 8                 801.61             913.59         293
     9                 804.71             915.68         299
     10                777.37             890.95         309
     11                762.83             888.34         314
     12                806.00             912.35         323

Category    Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)  \
Year Month
2011 1                                                   14.5
     2                                                   13.8
     3                                                   15.8
     4                                                   13.9
     5                                                   15.0
...                                                       ...
2021 8                                                   15.8
     9                                                   15.1
     10                                                  15.8
     11                                                  15.4
     12                                                  15.0

Category    Whole milk sales (excluding imported packaged milk for retail sale)
Year Month
2011 1                                                   27.6
     2                                                   25.2
     3                                                   29.1
     4                                                   25.2
     5                                                   27.3
...                                                       ...
2021 8                                                   29.0
     9                                                   26.6
     10                                                  26.1
     11                                                  25.5
     12                                                  25.2

[132 rows x 15 columns]

In [232]:
df_pivot = df_pivot2.groupby(["Year", "Month"]).sum()

In [233]:
df_pivot = df_pivot.reset_index()

In [234]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [235]:
df_pivot

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,445.22,541.00,614.39,663.88,737.82,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,463.66,541.28,600.72,668.94,739.21,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,475.72,530.74,621.26,691.95,768.11,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,490.50,570.06,647.20,729.61,799.90,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,495.43,582.13,658.38,740.76,829.63,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323,15.0,25.2

In [242]:
df_pivot = df_pivot[df_pivot.Year > 2013]

In [243]:
df_pivot

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
36,2014,1,4.4,329,2.3,300,302,132.0,4.11,498.38,597.40,704.50,789.13,867.04,252,16.9,23.5
37,2014,2,6.2,329,6.5,303,303,214.0,4.11,506.55,612.72,704.99,790.58,884.23,248,15.4,21.3
38,2014,3,14.4,305,18.4,290,288,470.7,4.08,497.04,588.64,682.82,789.94,906.31,244,18.7,25.4
39,2014,4,17.3,313,22.8,276,289,697.0,3.87,472.67,589.84,689.85,806.49,908.97,233,15.0,21.9
40,2014,5,21.7,315,24.8,284,292,785.5,3.75,509.21,595.29,691.55,808.22,893.82,240,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323,15.0,25.2

In [245]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [246]:
results = imputer.fit_transform(df_pivot)

In [247]:
results

array([[2.014e+03, 1.000e+00, 4.400e+00, ..., 2.520e+02, 1.690e+01,
        2.350e+01],
       [2.014e+03, 2.000e+00, 6.200e+00, ..., 2.480e+02, 1.540e+01,
        2.130e+01],
       [2.014e+03, 3.000e+00, 1.440e+01, ..., 2.440e+02, 1.870e+01,
        2.540e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

In [248]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [249]:
df_imputed

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
0,2014.0,1.0,4.4,329.0,2.3,300.0,302.0,132.0,4.11,498.38,597.40,704.50,789.13,867.04,252.0,16.9,23.5
1,2014.0,2.0,6.2,329.0,6.5,303.0,303.0,214.0,4.11,506.55,612.72,704.99,790.58,884.23,248.0,15.4,21.3
2,2014.0,3.0,14.4,305.0,18.4,290.0,288.0,470.7,4.08,497.04,588.64,682.82,789.94,906.31,244.0,18.7,25.4
3,2014.0,4.0,17.3,313.0,22.8,276.0,289.0,697.0,3.87,472.67,589.84,689.85,806.49,908.97,233.0,15.0,21.9
4,2014.0,5.0,21.7,315.0,24.8,284.0,292.0,785.5,3.75,509.21,595.29,691.55,808.22,893.82,240.0,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293.0,15.8,29.0
92,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299.0,15.1,26.6
93,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309.0,15.8,26.1
94,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314.0,15.4,25.5
95,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323.0,15.0,25.2

In [295]:
df_imputed.to_csv(cwd+"milk dataset 1.csv")

In [ ]:
df_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter,Thousand tonnes,Jan,4.0
1,2011,Cheese,Thousand tonnes,Jan,2.5
2,2011,Cow slaughterings,Thousand tonnes,Jan,40.1
3,2011,Domestic milk intake by creameries and pasteur...,Million litres,Jan,146.7
4,2011,Fat content,Percent,Jan,3.99
...,...,...,...,...,...
1855,2021,Skimmed milk powder,Thousand tonnes,Dec,7.4
1856,2021,Whole milk sales (excluding imported packaged ...,Million litres,Dec,25.2
1857,2022,Calves born from beef bulls (female),Count,Dec,14335
1858,2022,Calves born from beef bulls (female),Count,Dec,14318
1859,2022,Calves born from beef bulls (male),Count,Dec,15045

In [ ]:
df_pivot = df_melt.pivot(columns=["Category"], values=["Amount"]).reset_index()

In [ ]:
df_pivot2 = df_melt[["Year", "Month", "Unit"]]

In [ ]:
df_pivot2 = df_pivot2.reset_index()

In [ ]:
df_pivot2

      index  Year Month             Unit
0         0  2011   Jan  Thousand tonnes
1         1  2011   Jan  Thousand tonnes
2         2  2011   Jan  Thousand tonnes
3         3  2011   Jan   Million litres
4         4  2011   Jan          Percent
...     ...   ...   ...              ...
1855   1855  2021   Dec  Thousand tonnes
1856   1856  2021   Dec   Million litres
1857   1857  2022   Dec            Count
1858   1858  2022   Dec            Count
1859   1859  2022   Dec            Count

[1860 rows x 4 columns]

In [ ]:
df_pivot

         index                    Amount                                 \
Category       Beef cow exports (female) Beef cow exports (male) Butter
0            0                       NaN                     NaN    4.0
1            1                       NaN                     NaN    NaN
2            2                       NaN                     NaN    NaN
3            3                       NaN                     NaN    NaN
4            4                       NaN                     NaN    NaN
...        ...                       ...                     ...    ...
1855      1855                       NaN                     NaN    NaN
1856      1856                       NaN                     NaN    NaN
1857      1857                       NaN                     NaN    NaN
1858      1858                       NaN                     NaN    NaN
1859      1859                       NaN                     NaN    NaN

                                               \
Category Calves born from beef bulls (female)
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
1855                                      NaN
1856                                      NaN
1857                                    14335
1858                                    14318
1859                                      NaN

                                             \
Category Calves born from beef bulls (male)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
...                                     ...
1855                                    NaN
1856                                    NaN
1857                                    NaN
1858                                    NaN
1859                                  15045

                                                \
Category Calves born from dairy bulls (female)
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
1855                                       NaN
1856                                       NaN
1857                                       NaN
1858                                       NaN
1859                                       NaN

                                                                       \
Category Calves born from dairy bulls (male) Cheese Cow slaughterings
0                                        NaN    NaN               NaN
1                                        NaN    2.5               NaN
2                                        NaN    NaN              40.1
3                                        NaN    NaN               NaN
4                                        NaN    NaN               NaN
...                                      ...    ...               ...
1855                                     NaN    NaN               NaN
1856                                     NaN    NaN               NaN
1857                                     NaN    NaN               NaN
1858                                     NaN    NaN               NaN
1859                                     NaN    NaN               NaN

                                                              \
Category Dairy cow exports (female) Dairy cow exports (male)
0                               NaN                      NaN
1                               NaN                      NaN
2                               NaN                      NaN
3                               NaN                      NaN
4                               NaN                      NaN
...                             ...                      ...
1855                            NaN                      NaN
1856                            NaN                      NaN
1857                            NaN                      NaN
1858                            NaN                      NaN
1859                            NaN                      NaN

                                                                          \
Category Domestic milk intake by creameries and pasteurisers Fat content
0                                                       NaN          NaN
1                                                       NaN          NaN
2                                                       NaN          NaN
3                                                     146.7          NaN
4                                                       NaN         3.99
...                                                     ...          ...
1855                                                    NaN          NaN
1856                                                    NaN          NaN
1857                                                    NaN          NaN
1858                                                    NaN          NaN
1859                                                    NaN          NaN

                                                                                  \
Category Imported milk intake (excluding imported packaged milk for retail sale)
0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
...                                                     ...
1855                                                    NaN
1856                                                    NaN
1857                                                    NaN
1858                                                    NaN
1859                                                    NaN

                                                                                         \
Category Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)
0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
...                                                     ...
1855                                                    NaN
1856                                                    NaN
1857                                                    NaN
1858                                                    NaN
1859                                                    NaN

                              \
Category Skimmed milk powder
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
1855                     7.4
1856                     NaN
1857                     NaN
1858                     NaN
1859                     NaN


Category Whole milk sales (excluding imported packaged milk for retail sale)
0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
...                                                     ...
1855                                                    NaN
1856                                                   25.2
1857                                                    NaN
1858                                                    NaN
1859                                                    NaN

[1860 rows x 18 columns]

In [ ]:
df_pivot3 = df_pivot2.merge(df_pivot, on="index", how="right")

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:9203: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  validate=validate,
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
df_pivot3

,index,Year,Month,Unit,"(Amount, Beef cow exports (female))","(Amount, Beef cow exports (male))","(Amount, Butter)","(Amount, Calves born from beef bulls (female))","(Amount, Calves born from beef bulls (male))","(Amount, Calves born from dairy bulls (female))",...,"(Amount, Cheese)","(Amount, Cow slaughterings)","(Amount, Dairy cow exports (female))","(Amount, Dairy cow exports (male))","(Amount, Domestic milk intake by creameries and pasteurisers)","(Amount, Fat content)","(Amount, Imported milk intake (excluding imported packaged milk for retail sale))","(Amount, Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale))","(Amount, Skimmed milk powder)","(Amount, Whole milk sales (excluding imported packaged milk for retail sale))"
0,0,2011,Jan,Thousand tonnes,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2011,Jan,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2011,Jan,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2011,Jan,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN
4,4,2011,Jan,Percent,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,1855,2021,Dec,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4,NaN
1856,1856,2021,Dec,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.2
1857,1857,2022,Dec,Count,NaN,NaN,NaN,14335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,1858,2022,Dec,Count,NaN,NaN,NaN,14318,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,1859,2022,Dec,Count,NaN,NaN,NaN,NaN,15045,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_pivot3 = df_pivot3.drop("index", axis=1)

In [ ]:
df_pivot3

,Year,Month,Unit,"(Amount, Beef cow exports (female))","(Amount, Beef cow exports (male))","(Amount, Butter)","(Amount, Calves born from beef bulls (female))","(Amount, Calves born from beef bulls (male))","(Amount, Calves born from dairy bulls (female))","(Amount, Calves born from dairy bulls (male))","(Amount, Cheese)","(Amount, Cow slaughterings)","(Amount, Dairy cow exports (female))","(Amount, Dairy cow exports (male))","(Amount, Domestic milk intake by creameries and pasteurisers)","(Amount, Fat content)","(Amount, Imported milk intake (excluding imported packaged milk for retail sale))","(Amount, Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale))","(Amount, Skimmed milk powder)","(Amount, Whole milk sales (excluding imported packaged milk for retail sale))"
0,2011,Jan,Thousand tonnes,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,Jan,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,Jan,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,Jan,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN
4,2011,Jan,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,2021,Dec,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4,NaN
1856,2021,Dec,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.2
1857,2022,Dec,Count,NaN,NaN,NaN,14335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,2022,Dec,Count,NaN,NaN,NaN,14318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,2022,Dec,Count,NaN,NaN,NaN,NaN,15045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_pivot3 = df_pivot3.fillna(0)

In [ ]:
months = {"Jan":1,
          "Feb":2,
          "Mar":3,
          "Apr":4,
          "May":5,
          "Jun":6,
          "Jul":7,
          "Aug":8,
          "Sep":9,
          "Oct":10,
          "Nov":11,
          "Dec":12}

for key in months:
  df_pivot3.loc[df_pivot3.Month == key, "Month"] = months[key]

In [ ]:
df_pivot3

,Year,Month,Unit,"(Amount, Beef cow exports (female))","(Amount, Beef cow exports (male))","(Amount, Butter)","(Amount, Calves born from beef bulls (female))","(Amount, Calves born from beef bulls (male))","(Amount, Calves born from dairy bulls (female))","(Amount, Calves born from dairy bulls (male))","(Amount, Cheese)","(Amount, Cow slaughterings)","(Amount, Dairy cow exports (female))","(Amount, Dairy cow exports (male))","(Amount, Domestic milk intake by creameries and pasteurisers)","(Amount, Fat content)","(Amount, Imported milk intake (excluding imported packaged milk for retail sale))","(Amount, Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale))","(Amount, Skimmed milk powder)","(Amount, Whole milk sales (excluding imported packaged milk for retail sale))"
0,2011,1,Thousand tonnes,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,0,0.0
1,2011,1,Thousand tonnes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,0.0,0.00,0,0.0,0,0.0
2,2011,1,Thousand tonnes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.1,0.0,0.0,0.0,0.00,0,0.0,0,0.0
3,2011,1,Million litres,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,146.7,0.00,0,0.0,0,0.0
4,2011,1,Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,3.99,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855,2021,12,Thousand tonnes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,7.4,0.0
1856,2021,12,Million litres,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,0,25.2
1857,2022,12,Count,0.0,0.0,0.0,14335.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,0,0.0
1858,2022,12,Count,0.0,0.0,0.0,14318.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,0,0.0
1859,2022,12,Count,0.0,0.0,0.0,0.0,15045.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0,0.0,0,0.0

In [ ]:
df_pivot4 = df_pivot3.groupby(by=["Year", "Month"]).sum()

In [ ]:
df_pivot4

            (Amount, Beef cow exports (female))  \
Year Month
2011 1                                      0.0
     2                                      0.0
     3                                      0.0
     4                                      0.0
     5                                      0.0
...                                         ...
2022 8                                      0.0
     9                                      0.0
     10                                     0.0
     11                                     0.0
     12                                     0.0

            (Amount, Beef cow exports (male))  (Amount, Butter)  \
Year Month
2011 1                                    0.0               4.0
     2                                    0.0               5.8
     3                                    0.0              12.5
     4                                    0.0              14.9
     5                                    0.0              19.0
...                                       ...               ...
2022 8                                    0.0               0.0
     9                                    0.0               0.0
     10                                   0.0               0.0
     11                                   0.0               0.0
     12                                   0.0               0.0

            (Amount, Calves born from beef bulls (female))  \
Year Month
2011 1                                                 0.0
     2                                                 0.0
     3                                                 0.0
     4                                                 0.0
     5                                                 0.0
...                                                    ...
2022 8                                             45820.0
     9                                             44988.0
     10                                            42494.0
     11                                            37067.0
     12                                            28653.0

            (Amount, Calves born from beef bulls (male))  \
Year Month
2011 1                                               0.0
     2                                               0.0
     3                                               0.0
     4                                               0.0
     5                                               0.0
...                                                  ...
2022 8                                           24898.0
     9                                           23955.0
     10                                          22894.0
     11                                          20094.0
     12                                          15045.0

            (Amount, Calves born from dairy bulls (female))  \
Year Month
2011 1                                                  0.0
     2                                                  0.0
     3                                                  0.0
     4                                                  0.0
     5                                                  0.0
...                                                     ...
2022 8                                                  0.0
     9                                                  0.0
     10                                                 0.0
     11                                                 0.0
     12                                                 0.0

            (Amount, Calves born from dairy bulls (male))  (Amount, Cheese)  \
Year Month
2011 1                                                0.0               2.5
     2                                                0.0               5.3
     3                                                0.0              15.9
     4                                                0.0              21.6
     5                                                0.0              24.7
...                                                   ...               ...
2022 8                                                0.0               0.0
     9                                                0.0               0.0
     10                                               0.0               0.0
     11                                               0.0               0.0
     12                                               0.0               0.0

            (Amount, Dairy cow exports (female))  \
Year Month
2011 1                                       0.0
     2                                       0.0
     3                                       0.0
     4                                       0.0
     5                                       0.0
...                                          ...
2022 8                                       0.0
     9                                       0.0
     10                                      0.0
     11                                      0.0
     12                                      0.0

            (Amount, Dairy cow exports (male))  \
Year Month
2011 1                                     0.0
     2                                     0.0
     3                                     0.0
     4                                     0.0
     5                                     0.0
...                                        ...
2022 8                                     0.0
     9                                     0.0
     10                                    0.0
     11                                    0.0
     12                                    0.0

            (Amount, Domestic milk intake by creameries and pasteurisers)  \
Year Month
2011 1                                                  146.7
     2                                                  217.8
     3                                                  448.4
     4                                                  634.5
     5                                                  737.9
...                                                       ...
2022 8                                                    0.0
     9                                                    0.0
     10                                                   0.0
     11                                                   0.0
     12                                                   0.0

            (Amount, Fat content)  \
Year Month
2011 1                       3.99
     2                       3.96
     3                       3.91
     4                       3.72
     5                       3.69
...                           ...
2022 8                       0.00
     9                       0.00
     10                      0.00
     11                      0.00
     12                      0.00

            (Amount, Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale))  \
Year Month
2011 1                                                   14.5
     2                                                   13.8
     3                                                   15.8
     4                                                   13.9
     5                                                   15.0
...                                                       ...
2022 8                                                    0.0
     9                                                    0.0
     10                                                   0.0
     11                                                   0.0
     12                                                   0.0

            (Amount, Whole milk sales (excluding imported packaged milk for retail sale))
Year Month
2011 1                                                   27.6
     2                                                   25.2
     3                                                   29.1
     4                                                   25.2
     5                                                   27.3
...                                                       ...
2022 8                                                    0.0
     9                                                    0.0
     10                                                   0.0
     11                                                   0.0
     12                                                   0.0

[144 rows x 14 columns]

In [ ]:
df_pivot

NameError: ignored

In [ ]:
df

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2011,Butter,Thousand tonnes,4.00,5.80,12.50,14.90,19.00,18.50,17,15.60,13.80,11.40,8.61,4.9
1,2011,Cheese,Thousand tonnes,2.50,5.30,15.90,21.60,24.70,27.20,21.8,20.30,19.40,12.20,6,2.8
2,2011,Cow slaughterings,Thousand tonnes,40.10,42.10,48.90,45.20,44.70,45.10,38.9,47.70,52.00,50.90,53.7,38.4
3,2011,Domestic milk intake by creameries and pasteur...,Million litres,146.70,217.80,448.40,634.50,737.90,700.90,669.8,580.00,483.50,377.70,234.41,145.2
4,2011,Fat content,Percent,3.99,3.96,3.91,3.72,3.69,3.72,3.77,3.89,4.12,4.33,4.33,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2021,Skimmed milk powder,Thousand tonnes,NaN,NaN,11.40,17.70,27.70,19.30,17.1,16.40,11.10,5.50,NaN,7.4
151,2021,Whole milk sales (excluding imported packaged ...,Million litres,25.10,22.40,26.50,27.70,30.80,29.70,30.2,29.00,26.60,26.10,25.5,25.2
152,2022,Calves born from beef bulls (female),Count,48196.00,121705.00,175560.00,145004.00,86421.00,44232.00,28347,23754.00,22747.00,22068.00,19420,14335
153,2022,Calves born from beef bulls (female),Count,47979.00,138132.00,184763.00,139121.00,78648.00,48256.00,23641,22066.00,22241.00,20426.00,17647,14318
154,2022,Calves born from beef bulls (male),Count,48901.00,128466.00,190313.00,157284.00,93273.00,47638.00,29806,24898.00,23955.00,22894.00,20094,15045

In [ ]:
df["Element"].unique()

KeyError: ignored

In [ ]:
pd.melt(df, id_vars=['Element', "Item"], value_vars=["Value", "Year"])

KeyError: ignored

In [ ]:
df.pivot

### Dataset 1

2014-2021, incorporating the data from all 3 datasets

In [ ]:
df1_concat = pd.concat([df1, df3_pivot])

In [ ]:
df1_concat = pd.concat([df1_concat, df2_pivot])

In [ ]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [ ]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [ ]:
df1_concat = df1_concat.drop("Year.1", axis=1)

In [ ]:
df1_concat["Category"].value_counts()

Calf nuts and cubes (16-18% protein) (Euro per Tonne)                                              16
Dairy meal (16-18% protein) (Euro per Tonne)                                                       16
Dairy nuts and cubes (16-18% protein) (Euro per Tonne)                                             16
Maize meal (Euro per Tonne)                                                                        16
Butter (Thousand tonnes)                                                                           11
Cheese (Thousand tonnes)                                                                           11
Cow slaughterings (Thousand tonnes)                                                                11
Domestic milk intake by creameries and pasteurisers (Million litres)                               11
Fat content (Percent)                                                                              11
Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)           11
Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)    11
Skimmed milk powder (Thousand tonnes)                                                              11
Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)               11
Calf meal (16-18% protein) (Euro per Tonne)                                                         8
Name: Category, dtype: int64

In [ ]:
df1_melt = df1_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df1_concat.columns[3:], var_name="Month", value_name="Amount")

In [ ]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2047,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
2048,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2049,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2050,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2051,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [ ]:
df1_melt = df1_melt.drop_duplicates()

In [ ]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2015,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
2016,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2017,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2018,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2019,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [ ]:
df1_melt = df1_melt.reset_index().drop("index", axis=1)

In [ ]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1663,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
1664,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1665,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1666,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [ ]:
df1_melt["Month"] = [months[x] for x in df1_melt["Month"]]

In [ ]:
df1_melt["Index"] = ["-".join([str(x),str(y),str(z)]) for (x,y,z) in zip(df1_melt["Year"], df1_melt["Month"],
                                               df1_melt["Category"])]

In [ ]:
df1_melt["Index"]

0                         2011-1-Butter (Thousand tonnes)
1                         2012-1-Butter (Thousand tonnes)
2                         2013-1-Butter (Thousand tonnes)
3                         2014-1-Butter (Thousand tonnes)
4                         2015-1-Butter (Thousand tonnes)
                              ...
1663    2021-12-Calf meal (16-18% protein) (Euro per T...
1664    2021-12-Calf nuts and cubes (16-18% protein) (...
1665    2021-12-Dairy meal (16-18% protein) (Euro per ...
1666    2021-12-Dairy nuts and cubes (16-18% protein) ...
1667                  2021-12-Maize meal (Euro per Tonne)
Name: Index, Length: 1668, dtype: object

In [ ]:
df1_melt[df1_melt.Index == "2021-12-Maize meal (Euro per Tonne)"]

,Year,Category,Unit,Month,Amount,Index
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,12,323,2021-12-Maize meal (Euro per Tonne)

In [ ]:
df1_pivot = df1_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [ ]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df1_pivot = df1_pivot.reset_index().drop("index", axis=1)

In [ ]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df1_pivot["Index"] = [x.split("-") for x in df1_pivot.Index]

In [ ]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df1_pivot["Year"] = [int(x[0]) for x in df1_pivot.Index]
df1_pivot["Month"] = [int(x[1]) for x in df1_pivot.Index]

In [ ]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres),Year,Month
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9

In [ ]:
cols_sorted = list(df1_pivot.columns[-2:]) + list(df1_pivot.columns[1:-2])
cols_sorted

['Year',
 'Month',
 'Butter (Thousand tonnes)',
 'Calf meal (16-18% protein) (Euro per Tonne)',
 'Calf nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Cheese (Thousand tonnes)',
 'Cow slaughterings (Thousand tonnes)',
 'Dairy meal (16-18% protein) (Euro per Tonne)',
 'Dairy nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Domestic milk intake by creameries and pasteurisers (Million litres)',
 'Fat content (Percent)',
 'Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)',
 'Maize meal (Euro per Tonne)',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)',
 'Skimmed milk powder (Thousand tonnes)',
 'Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)']

In [ ]:
df1_pivot = df1_pivot[cols_sorted]

In [ ]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df1_pivot = df1_pivot.fillna(0)

In [ ]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1,2011,1,0.0,0,0,2.5,0,0,0,0.0,0.00,0,0,0.0,0,0.0
2,2011,1,0.0,0,0,0.0,40.1,0,0,0.0,0.00,0,0,0.0,0,0.0
3,2011,1,0.0,0,0,0.0,0,0,0,146.7,0.00,0,0,0.0,0,0.0
4,2011,1,0.0,0,0,0.0,0,0,0,0.0,3.99,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1664,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,299,0.0,0,0.0
1665,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,15.1,0,0.0
1666,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,11.1,0.0
1667,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,26.6

In [ ]:
df_pivot = df1_pivot.groupby(["Year", "Month"]).sum()

In [ ]:
df_pivot = df_pivot.reset_index()

In [ ]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [ ]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [ ]:
df_pivot = df_pivot[df_pivot.Year > 2013]

In [ ]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
36,2014,1,4.4,329,2.3,300,302,132.0,4.11,252,16.9,23.5
37,2014,2,6.2,329,6.5,303,303,214.0,4.11,248,15.4,21.3
38,2014,3,14.4,305,18.4,290,288,470.7,4.08,244,18.7,25.4
39,2014,4,17.3,313,22.8,276,289,697.0,3.87,233,15.0,21.9
40,2014,5,21.7,315,24.8,284,292,785.5,3.75,240,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [ ]:
results = imputer.fit_transform(df_pivot)

In [ ]:
results

array([[2.014e+03, 1.000e+00, 4.400e+00, ..., 2.520e+02, 1.690e+01,
        2.350e+01],
       [2.014e+03, 2.000e+00, 6.200e+00, ..., 2.480e+02, 1.540e+01,
        2.130e+01],
       [2.014e+03, 3.000e+00, 1.440e+01, ..., 2.440e+02, 1.870e+01,
        2.540e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

###

In [ ]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [ ]:
df_imputed

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2014.0,1.0,4.4,329.0,2.3,300.0,302.0,132.0,4.11,252.0,16.9,23.5
1,2014.0,2.0,6.2,329.0,6.5,303.0,303.0,214.0,4.11,248.0,15.4,21.3
2,2014.0,3.0,14.4,305.0,18.4,290.0,288.0,470.7,4.08,244.0,18.7,25.4
3,2014.0,4.0,17.3,313.0,22.8,276.0,289.0,697.0,3.87,233.0,15.0,21.9
4,2014.0,5.0,21.7,315.0,24.8,284.0,292.0,785.5,3.75,240.0,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,293.0,15.8,29.0
92,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,299.0,15.1,26.6
93,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,309.0,15.8,26.1
94,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,314.0,15.4,25.5
95,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,323.0,15.0,25.2

In [ ]:
df_imputed.to_csv(cwd+"milk dataset 1.csv")

In [ ]:
df3

,Statistic,Month,Type of Feedstuff,UNIT,VALUE
0,Feed Stuff Price,2014M01,Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Calf nuts and cubes (16-18% protein),Euro per Tonne,329
2,Feed Stuff Price,2014M01,Calf meal (16-18% protein),Euro per Tonne,.
3,Feed Stuff Price,2014M01,Dairy nuts and cubes (16-18% protein),Euro per Tonne,302
4,Feed Stuff Price,2014M01,Dairy meal (16-18% protein),Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Calf nuts and cubes (16-18% protein),Euro per Tonne,395
487,Feed Stuff Price,2022M02,Calf meal (16-18% protein),Euro per Tonne,.
488,Feed Stuff Price,2022M02,Dairy nuts and cubes (16-18% protein),Euro per Tonne,374
489,Feed Stuff Price,2022M02,Dairy meal (16-18% protein),Euro per Tonne,363

In [ ]:
df3["Type of Feedstuff"] = [("Average price per tonne of "+ x) for x in df3["Type of Feedstuff"]]

In [ ]:
df3

,Statistic,Month,Type of Feedstuff,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Average price per tonne of Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,395
487,Feed Stuff Price,2022M02,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
488,Feed Stuff Price,2022M02,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,374
489,Feed Stuff Price,2022M02,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,363

In [ ]:
df2["Type of Cattle"] = [("Average value of "+ x) for x in df2["Type of Cattle"]]

In [ ]:
df2 = df2.rename({"Type of Cattle": "Type"}, axis=1)
df3 = df3.rename({"Type of Feedstuff": "Type"}, axis=1)

In [ ]:
df2

,Statistic,Month,Type,UNIT,VALUE
0,Cattle Price per Head,2011M01,Average value of Heifers 200-249kg,Euro,445.22
1,Cattle Price per Head,2011M01,Average value of Heifers 250-299kg,Euro,541.00
2,Cattle Price per Head,2011M01,Average value of Heifers 300-349kg,Euro,614.39
3,Cattle Price per Head,2011M01,Average value of Heifers 350-399kg,Euro,663.88
4,Cattle Price per Head,2011M01,Average value of Heifers 400-449kg,Euro,737.82
...,...,...,...,...,...
655,Cattle Price per Head,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,Cattle Price per Head,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,Cattle Price per Head,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,Cattle Price per Head,2021M12,Average value of Heifers 350-399kg,Euro,806.00
659,Cattle Price per Head,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [ ]:
df3

,Statistic,Month,Type,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
485,Feed Stuff Price,2022M02,Average price per tonne of Maize meal,Euro per Tonne,331
486,Feed Stuff Price,2022M02,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,395
487,Feed Stuff Price,2022M02,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
488,Feed Stuff Price,2022M02,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,374
489,Feed Stuff Price,2022M02,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,363

In [ ]:
df_concat2 = pd.concat([df3, df2])

In [ ]:
df_concat2

,Statistic,Month,Type,UNIT,VALUE
0,Feed Stuff Price,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,Feed Stuff Price,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,Feed Stuff Price,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,Feed Stuff Price,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,Feed Stuff Price,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...,...
655,Cattle Price per Head,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,Cattle Price per Head,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,Cattle Price per Head,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,Cattle Price per Head,2021M12,Average value of Heifers 350-399kg,Euro,806.0
659,Cattle Price per Head,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [ ]:
df3 = df_concat2

In [ ]:
df_concat2["Type"].value_counts()

Average value of Heifers 200-249kg                                  132
Average value of Heifers 250-299kg                                  132
Average value of Heifers 300-349kg                                  132
Average value of Heifers 350-399kg                                  132
Average value of Heifers 400-449kg                                  132
Average price per tonne of Maize meal                                98
Average price per tonne of Calf nuts and cubes (16-18% protein)      98
Average price per tonne of Calf meal (16-18% protein)                98
Average price per tonne of Dairy nuts and cubes (16-18% protein)     98
Average price per tonne of Dairy meal (16-18% protein)               98
Name: Type, dtype: int64

In [ ]:
df3 = df3.drop("Statistic", axis=1)

In [ ]:
df3

,Month,Type,UNIT,VALUE
0,2014M01,Average price per tonne of Maize meal,Euro per Tonne,252
1,2014M01,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,2014M01,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,2014M01,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,2014M01,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...
655,2021M12,Average value of Heifers 200-249kg,Euro,490.37
656,2021M12,Average value of Heifers 250-299kg,Euro,623.57
657,2021M12,Average value of Heifers 300-349kg,Euro,693.47
658,2021M12,Average value of Heifers 350-399kg,Euro,806.0
659,2021M12,Average value of Heifers 400-449kg,Euro,912.35

In [ ]:
df3["Month"] = [x.split("M") for x in df3["Month"]]

In [ ]:
df3

,Month,Type,UNIT,VALUE
0,"[2014, 01]",Average price per tonne of Maize meal,Euro per Tonne,252
1,"[2014, 01]",Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329
2,"[2014, 01]",Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.
3,"[2014, 01]",Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302
4,"[2014, 01]",Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300
...,...,...,...,...
655,"[2021, 12]",Average value of Heifers 200-249kg,Euro,490.37
656,"[2021, 12]",Average value of Heifers 250-299kg,Euro,623.57
657,"[2021, 12]",Average value of Heifers 300-349kg,Euro,693.47
658,"[2021, 12]",Average value of Heifers 350-399kg,Euro,806.0
659,"[2021, 12]",Average value of Heifers 400-449kg,Euro,912.35

In [ ]:
df3["Year"] = [int(x[0]) for x in df3["Month"]]

In [ ]:
df3["Month"] = [int(x[1]) for x in df3["Month"]]

In [ ]:
df3["Month"] = [inv_months[x] for x in df3["Month"]]

In [ ]:
df3

,Month,Type,UNIT,VALUE,Year
0,Jan,Average price per tonne of Maize meal,Euro per Tonne,252,2014
1,Jan,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,329,2014
2,Jan,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,.,2014
3,Jan,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,302,2014
4,Jan,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,300,2014
...,...,...,...,...,...
655,Dec,Average value of Heifers 200-249kg,Euro,490.37,2021
656,Dec,Average value of Heifers 250-299kg,Euro,623.57,2021
657,Dec,Average value of Heifers 300-349kg,Euro,693.47,2021
658,Dec,Average value of Heifers 350-399kg,Euro,806.0,2021
659,Dec,Average value of Heifers 400-449kg,Euro,912.35,2021

In [ ]:
df3_pivot = df3.pivot(index=["Year", "Type", "UNIT"], columns='Month', values="VALUE")

In [ ]:
df3_pivot.head(20)

Month                                                                       Apr  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro              490.5
     Average value of Heifers 250-299kg                 Euro             570.06
     Average value of Heifers 300-349kg                 Euro              647.2
     Average value of Heifers 350-399kg                 Euro             729.61
     Average value of Heifers 400-449kg                 Euro              799.9
2012 Average value of Heifers 200-249kg                 Euro             611.18
     Average value of Heifers 250-299kg                 Euro             705.56
     Average value of Heifers 300-349kg                 Euro             801.97
     Average value of Heifers 350-399kg                 Euro             902.62
     Average value of Heifers 400-449kg                 Euro            1006.71
2013 Average value of Heifers 200-249kg                 Euro             472.17
     Average value of Heifers 250-299kg                 Euro             577.91
     Average value of Heifers 300-349kg                 Euro             673.77
     Average value of Heifers 350-399kg                 Euro             820.32
     Average value of Heifers 400-449kg                 Euro             927.74
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne        .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne      313
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne      276
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne      289
     Average price per tonne of Maize meal              Euro per Tonne      233

Month                                                                      Aug  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            523.78
     Average value of Heifers 250-299kg                 Euro             590.3
     Average value of Heifers 300-349kg                 Euro            684.39
     Average value of Heifers 350-399kg                 Euro            760.84
     Average value of Heifers 400-449kg                 Euro            842.29
2012 Average value of Heifers 200-249kg                 Euro            458.54
     Average value of Heifers 250-299kg                 Euro            541.26
     Average value of Heifers 300-349kg                 Euro            648.31
     Average value of Heifers 350-399kg                 Euro             734.7
     Average value of Heifers 400-449kg                 Euro            844.73
2013 Average value of Heifers 200-249kg                 Euro            500.37
     Average value of Heifers 250-299kg                 Euro             548.0
     Average value of Heifers 300-349kg                 Euro             675.7
     Average value of Heifers 350-399kg                 Euro            788.83
     Average value of Heifers 400-449kg                 Euro            908.91
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     311
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     278
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     287
     Average price per tonne of Maize meal              Euro per Tonne     228

Month                                                                      Dec  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             572.2
     Average value of Heifers 250-299kg                 Euro            622.89
     Average value of Heifers 300-349kg                 Euro            726.48
     Average value of Heifers 350-399kg                 Euro            797.75
     Average value of Heifers 400-449kg                 Euro            878.34
2012 Average value of Heifers 200-249kg                 Euro             475.6
     Average value of Heifers 250-299kg                 Euro            576.64
     Average value of Heifers 300-349kg                 Euro            622.31
     Average value of Heifers 350-399kg                 Euro            737.52
     Average value of Heifers 400-449kg                 Euro            852.57
2013 Average value of Heifers 200-249kg                 Euro            488.85
     Average value of Heifers 250-299kg                 Euro            590.52
     Average value of Heifers 300-349kg                 Euro            680.21
     Average value of Heifers 350-399kg                 Euro             782.0
     Average value of Heifers 400-449kg                 Euro            867.85
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     289
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     257
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     269
     Average price per tonne of Maize meal              Euro per Tonne     222

Month                                                                      Feb  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            463.66
     Average value of Heifers 250-299kg                 Euro            541.28
     Average value of Heifers 300-349kg                 Euro            600.72
     Average value of Heifers 350-399kg                 Euro            668.94
     Average value of Heifers 400-449kg                 Euro            739.21
2012 Average value of Heifers 200-249kg                 Euro            622.37
     Average value of Heifers 250-299kg                 Euro            707.23
     Average value of Heifers 300-349kg                 Euro            808.36
     Average value of Heifers 350-399kg                 Euro            884.68
     Average value of Heifers 400-449kg                 Euro            961.05
2013 Average value of Heifers 200-249kg                 Euro            517.76
     Average value of Heifers 250-299kg                 Euro            630.81
     Average value of Heifers 300-349kg                 Euro            712.84
     Average value of Heifers 350-399kg                 Euro            807.34
     Average value of Heifers 400-449kg                 Euro            917.95
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     329
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     303
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     303
     Average price per tonne of Maize meal              Euro per Tonne     248

Month                                                                      Jan  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            445.22
     Average value of Heifers 250-299kg                 Euro             541.0
     Average value of Heifers 300-349kg                 Euro            614.39
     Average value of Heifers 350-399kg                 Euro            663.88
     Average value of Heifers 400-449kg                 Euro            737.82
2012 Average value of Heifers 200-249kg                 Euro            621.64
     Average value of Heifers 250-299kg                 Euro             700.5
     Average value of Heifers 300-349kg                 Euro            776.69
     Average value of Heifers 350-399kg                 Euro             867.3
     Average value of Heifers 400-449kg                 Euro            942.58
2013 Average value of Heifers 200-249kg                 Euro            523.87
     Average value of Heifers 250-299kg                 Euro            588.25
     Average value of Heifers 300-349kg                 Euro            690.35
     Average value of Heifers 350-399kg                 Euro             768.5
     Average value of Heifers 400-449kg                 Euro            882.01
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     329
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     300
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     302
     Average price per tonne of Maize meal              Euro per Tonne     252

Month                                                                      Jul  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            502.89
     Average value of Heifers 250-299kg                 Euro            585.29
     Average value of Heifers 300-349kg                 Euro            664.43
     Average value of Heifers 350-399kg                 Euro            748.53
     Average value of Heifers 400-449kg                 Euro            829.65
2012 Average value of Heifers 200-249kg                 Euro             536.2
     Average value of Heifers 250-299kg                 Euro            617.26
     Average value of Heifers 300-349kg                 Euro            716.74
     Average value of Heifers 350-399kg                 Euro            821.81
     Average value of Heifers 400-449kg                 Euro            917.55
2013 Average value of Heifers 200-249kg                 Euro            420.44
     Average value of Heifers 250-299kg                 Euro            540.29
     Average value of Heifers 300-349kg                 Euro            638.25
     Average value of Heifers 350-399kg                 Euro            739.02
     Average value of Heifers 400-449kg                 Euro            851.84
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     311
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     279
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     289
     Average price per tonne of Maize meal              Euro per Tonne     234

Month                                                                      Jun  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            503.26
     Average value of Heifers 250-299kg                 Euro            597.71
     Average value of Heifers 300-349kg                 Euro             643.2
     Average value of Heifers 350-399kg                 Euro            730.51
     Average value of Heifers 400-449kg                 Euro            795.94
2012 Average value of Heifers 200-249kg                 Euro            600.12
     Average value of Heifers 250-299kg                 Euro            681.38
     Average value of Heifers 300-349kg                 Euro            777.18
     Average value of Heifers 350-399kg                 Euro            899.73
     Average value of Heifers 400-449kg                 Euro             995.0
2013 Average value of Heifers 200-249kg                 Euro            431.68
     Average value of Heifers 250-299kg                 Euro            545.23
     Average value of Heifers 300-349kg                 Euro            669.38
     Average value of Heifers 350-399kg                 Euro            786.18
     Average value of Heifers 400-449kg                 Euro            919.67
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     312
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     278
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     290
     Average price per tonne of Maize meal              Euro per Tonne     240

Month                                                                       Mar  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             475.72
     Average value of Heifers 250-299kg                 Euro             530.74
     Average value of Heifers 300-349kg                 Euro             621.26
     Average value of Heifers 350-399kg                 Euro             691.95
     Average value of Heifers 400-449kg                 Euro             768.11
2012 Average value of Heifers 200-249kg                 Euro             643.39
     Average value of Heifers 250-299kg                 Euro             753.95
     Average value of Heifers 300-349kg                 Euro             836.96
     Average value of Heifers 350-399kg                 Euro             926.91
     Average value of Heifers 400-449kg                 Euro            1019.91
2013 Average value of Heifers 200-249kg                 Euro             522.05
     Average value of Heifers 250-299kg                 Euro             619.77
     Average value of Heifers 300-349kg                 Euro             732.02
     Average value of Heifers 350-399kg                 Euro             826.26
     Average value of Heifers 400-449kg                 Euro             942.24
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne        .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne      305
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne      290
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne      288
     Average price per tonne of Maize meal              Euro per Tonne      244

Month                                                                      May  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            495.43
     Average value of Heifers 250-299kg                 Euro            582.13
     Average value of Heifers 300-349kg                 Euro            658.38
     Average value of Heifers 350-399kg                 Euro            740.76
     Average value of Heifers 400-449kg                 Euro            829.63
2012 Average value of Heifers 200-249kg                 Euro            568.21
     Average value of Heifers 250-299kg                 Euro            674.82
     Average value of Heifers 300-349kg                 Euro            771.91
     Average value of Heifers 350-399kg                 Euro            864.44
     Average value of Heifers 400-449kg                 Euro            975.71
2013 Average value of Heifers 200-249kg                 Euro            441.37
     Average value of Heifers 250-299kg                 Euro            552.54
     Average value of Heifers 300-349kg                 Euro            669.76
     Average value of Heifers 350-399kg                 Euro            796.44
     Average value of Heifers 400-449kg                 Euro            933.56
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     315
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     284
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     292
     Average price per tonne of Maize meal              Euro per Tonne     240

Month                                                                      Nov  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            533.88
     Average value of Heifers 250-299kg                 Euro            635.98
     Average value of Heifers 300-349kg                 Euro            700.63
     Average value of Heifers 350-399kg                 Euro            786.22
     Average value of Heifers 400-449kg                 Euro            869.94
2012 Average value of Heifers 200-249kg                 Euro            511.91
     Average value of Heifers 250-299kg                 Euro            517.69
     Average value of Heifers 300-349kg                 Euro            632.79
     Average value of Heifers 350-399kg                 Euro            742.64
     Average value of Heifers 400-449kg                 Euro            836.14
2013 Average value of Heifers 200-249kg                 Euro            532.12
     Average value of Heifers 250-299kg                 Euro            553.83
     Average value of Heifers 300-349kg                 Euro            639.59
     Average value of Heifers 350-399kg                 Euro            741.64
     Average value of Heifers 400-449kg                 Euro            860.79
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     287
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     256
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     267
     Average price per tonne of Maize meal              Euro per Tonne     224

Month                                                                      Oct  \
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro            524.12
     Average value of Heifers 250-299kg                 Euro             627.5
     Average value of Heifers 300-349kg                 Euro            679.09
     Average value of Heifers 350-399kg                 Euro            762.47
     Average value of Heifers 400-449kg                 Euro            831.43
2012 Average value of Heifers 200-249kg                 Euro             446.0
     Average value of Heifers 250-299kg                 Euro            516.86
     Average value of Heifers 300-349kg                 Euro            631.03
     Average value of Heifers 350-399kg                 Euro            730.85
     Average value of Heifers 400-449kg                 Euro            851.75
2013 Average value of Heifers 200-249kg                 Euro            481.63
     Average value of Heifers 250-299kg                 Euro            577.37
     Average value of Heifers 300-349kg                 Euro            666.65
     Average value of Heifers 350-399kg                 Euro            791.75
     Average value of Heifers 400-449kg                 Euro            895.54
2014 Average price per tonne of Calf meal (16-18% pr... Euro per Tonne       .
     Average price per tonne of Calf nuts and cubes ... Euro per Tonne     279
     Average price per tonne of Dairy meal (16-18% p... Euro per Tonne     250
     Average price per tonne of Dairy nuts and cubes... Euro per Tonne     270
     Average price per tonne of Maize meal              Euro per Tonne     227

Month                                                                      Sep
Year Type                                               UNIT
2011 Average value of Heifers 200-249kg                 Euro             578.0
     Average value of Heifers 250-299kg                 Euro            587.16
     Average value of Heifers 300-349kg                 Euro            666.13
     Average value of Heifers 350-399kg                 Euro            737.97
     Average value of Heifers 400-449kg                 Euro            823.11
2012 Average value of Heifers 200-249kg                 Euro            437.14
     Average value of Heifers 250-299kg                 Euro            505.04
     Average value of Heifers 300-349kg                 Euro            632.16
     Average value of Heifers 350-399kg                 Euro            741.25
     Average value of Heifers 400-449kg                 Euro             850.7

In [ ]:
df3_pivot = df3_pivot.reset_index()

In [ ]:
df3_pivot

Month,Year,Type,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022,Average price per tonne of Maize meal,Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3_pivot.index.names = [""]

In [ ]:
inv_months = {v: k for k, v in months.items()}

In [ ]:
df3_pivot = df3_pivot.rename(inv_months, axis=1)

In [ ]:
df3_pivot

Month,Year,Type,UNIT,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022,Average price per tonne of Calf meal (16-18% p...,Euro per Tonne,NaN,NaN,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022,Average price per tonne of Calf nuts and cubes...,Euro per Tonne,NaN,NaN,NaN,395,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022,Average price per tonne of Dairy meal (16-18% ...,Euro per Tonne,NaN,NaN,NaN,363,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022,Average price per tonne of Dairy nuts and cube...,Euro per Tonne,NaN,NaN,NaN,374,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022,Average price per tonne of Maize meal,Euro per Tonne,NaN,NaN,NaN,331,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3_pivot = df3_pivot.rename({"UNIT": "Unit"}, axis=1)

In [ ]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [ ]:
df3_pivot = df3_pivot[df3_pivot.Year < 2022]

In [ ]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [ ]:
df3_pivot

Month,Year,Category,Unit,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
,,,,,,,,,,,,,,,
0,2011,Average value of Heifers 200-249kg,Euro,490.5,523.78,572.2,463.66,445.22,502.89,503.26,475.72,495.43,533.88,524.12,578.0
1,2011,Average value of Heifers 250-299kg,Euro,570.06,590.3,622.89,541.28,541.0,585.29,597.71,530.74,582.13,635.98,627.5,587.16
2,2011,Average value of Heifers 300-349kg,Euro,647.2,684.39,726.48,600.72,614.39,664.43,643.2,621.26,658.38,700.63,679.09,666.13
3,2011,Average value of Heifers 350-399kg,Euro,729.61,760.84,797.75,668.94,663.88,748.53,730.51,691.95,740.76,786.22,762.47,737.97
4,2011,Average value of Heifers 400-449kg,Euro,799.9,842.29,878.34,739.21,737.82,829.65,795.94,768.11,829.63,869.94,831.43,823.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2021,Average value of Heifers 200-249kg,Euro,526.39,480.0,490.37,498.79,540.79,515.19,485.51,525.12,499.1,419.66,516.0,450.74
91,2021,Average value of Heifers 250-299kg,Euro,613.5,598.07,623.57,601.33,614.47,623.33,608.6,610.85,601.35,547.42,529.67,570.54
92,2021,Average value of Heifers 300-349kg,Euro,720.86,689.2,693.47,690.26,691.65,723.04,730.25,713.21,689.16,641.39,656.53,694.88
93,2021,Average value of Heifers 350-399kg,Euro,845.05,801.61,806.0,814.0,798.03,837.85,844.54,827.74,796.61,762.83,777.37,804.71
94,2021,Average value of Heifers 400-449kg,Euro,959.2,913.59,912.35,893.93,896.38,941.82,965.24,946.35,928.02,888.34,890.95,915.68

In [ ]:
df1

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter,Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter,Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter,Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter,Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter,Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2017,Whole milk sales (excluding imported packaged ...,Million litres,26.2,24.2,27.7,26.4,28.7,30.0,27.1,27.6,27.1,27.3,27,27.1,326.400
95,2018,Whole milk sales (excluding imported packaged ...,Million litres,27.7,26.6,28.5,27.2,29.1,26.8,26.6,27.2,26.4,27.3,26.3,25.8,325.500
96,2019,Whole milk sales (excluding imported packaged ...,Million litres,26.9,25.3,29.0,28.5,28.2,29.4,29.1,28.6,26.8,28.9,26.8,25.8,27.775
97,2020,Whole milk sales (excluding imported packaged ...,Million litres,26.1,25.8,29.1,32.0,31.6,30.6,31.5,28.9,26.7,26.3,25,25.1,338.700
98,2021,Whole milk sales (excluding imported packaged ...,Million litres,25.1,22.4,26.5,27.7,30.8,29.7,30.2,29.0,26.6,26.1,25.5,25.2,324.800

In [ ]:
df_concat = pd.concat([df1, df3_pivot])

In [ ]:
df_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter,Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter,Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter,Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter,Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter,Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2021,Heifers 250-299kg,Euro,614.47,601.33,610.85,613.5,601.35,608.6,623.33,598.07,570.54,529.67,547.42,623.57,NaN
83,2021,Heifers 300-349kg,Euro,691.65,690.26,713.21,720.86,689.16,730.25,723.04,689.2,694.88,656.53,641.39,693.47,NaN
84,2021,Heifers 350-399kg,Euro,798.03,814.0,827.74,845.05,796.61,844.54,837.85,801.61,804.71,777.37,762.83,806.0,NaN
85,2021,Heifers 400-449kg,Euro,896.38,893.93,946.35,959.2,928.02,965.24,941.82,913.59,915.68,890.95,888.34,912.35,NaN
86,2021,Maize meal,Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [ ]:
df_concat = df_concat.drop("Year.1", axis=1)

In [ ]:
df_melt = df_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df_concat.columns[3:], var_name="Month", value_name="Amount")

In [ ]:
df_melt

      Year           Category             Unit Month  Amount
0     2011             Butter  Thousand tonnes   Jan     4.0
1     2012             Butter  Thousand tonnes   Jan     4.0
2     2013             Butter  Thousand tonnes   Jan     4.0
3     2014             Butter  Thousand tonnes   Jan     4.4
4     2015             Butter  Thousand tonnes   Jan     3.5
...    ...                ...              ...   ...     ...
2227  2021  Heifers 250-299kg             Euro   Dec  623.57
2228  2021  Heifers 300-349kg             Euro   Dec  693.47
2229  2021  Heifers 350-399kg             Euro   Dec   806.0
2230  2021  Heifers 400-449kg             Euro   Dec  912.35
2231  2021         Maize meal   Euro per Tonne   Dec     323

[2232 rows x 5 columns]

In [ ]:
df_melt[df_melt.Year == 2022]

Empty DataFrame
Columns: [Year, Category, Unit, Month, Amount]
Index: []

In [ ]:
df_melt

      Year           Category             Unit Month  Amount
0     2011             Butter  Thousand tonnes   Jan     4.0
1     2012             Butter  Thousand tonnes   Jan     4.0
2     2013             Butter  Thousand tonnes   Jan     4.0
3     2014             Butter  Thousand tonnes   Jan     4.4
4     2015             Butter  Thousand tonnes   Jan     3.5
...    ...                ...              ...   ...     ...
2227  2021  Heifers 250-299kg             Euro   Dec  623.57
2228  2021  Heifers 300-349kg             Euro   Dec  693.47
2229  2021  Heifers 350-399kg             Euro   Dec   806.0
2230  2021  Heifers 400-449kg             Euro   Dec  912.35
2231  2021         Maize meal   Euro per Tonne   Dec     323

[2232 rows x 5 columns]

In [ ]:
df_melt["Month"] = [months[x] for x in df_melt["Month"]]

In [ ]:
df_melt["Index"] = ["-".join([str(x),str(y),str(z),str(a)]) for (x,y,z,a) in zip(df_melt["Year"], df_melt["Month"],
                                               df_melt["Category"], df_melt["Unit"])]

In [ ]:
df_melt["Index"]

0           2011-1-Butter-Thousand tonnes
1           2012-1-Butter-Thousand tonnes
2           2013-1-Butter-Thousand tonnes
3           2014-1-Butter-Thousand tonnes
4           2015-1-Butter-Thousand tonnes
                      ...
2227       2021-12-Heifers 250-299kg-Euro
2228       2021-12-Heifers 300-349kg-Euro
2229       2021-12-Heifers 350-399kg-Euro
2230       2021-12-Heifers 400-449kg-Euro
2231    2021-12-Maize meal-Euro per Tonne
Name: Index, Length: 2232, dtype: object

In [ ]:
df_pivot2 = df_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [ ]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011-1-Butter-Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese-Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings-Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content-Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021-9-Maize meal-Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021-9-Skimmed milk powder-Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df_pivot2 = df_pivot2.reset_index().drop("index", axis=1)

In [ ]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011-1-Butter-Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese-Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings-Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content-Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021-9-Maize meal-Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021-9-Skimmed milk powder-Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df_pivot2["Index"] = [x.split("-") for x in df_pivot2.Index]

In [ ]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,"[2011, 1, Butter, Thousand tonnes]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese, Thousand tonnes]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings, Thousand tonnes]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content, Percent]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"[2021, 9, Maize meal, Euro per Tonne]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,"[2021, 9, Skimmed milk powder, Thousand tonnes]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df_pivot2["Year"] = [int(x[0]) for x in df_pivot2.Index]
df_pivot2["Month"] = [int(x[1]) for x in df_pivot2.Index]
df_pivot2["Unit"] = [x[3] for x in df_pivot2.Index]

In [ ]:
df_pivot2

Category,Index,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,...,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale),Year,Month,Unit
0,"[2011, 1, Butter, Thousand tonnes]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
1,"[2011, 1, Cheese, Thousand tonnes]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
2,"[2011, 1, Cow slaughterings, Thousand tonnes]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Thousand tonnes
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Million litres
4,"[2011, 1, Fat content, Percent]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1,Percent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9,Million litres
2228,"[2021, 9, Maize meal, Euro per Tonne]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9,Euro per Tonne
2229,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9,skimmed milk (excluding imported packaged milk...
2230,"[2021, 9, Skimmed milk powder, Thousand tonnes]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9,Thousand tonnes
2231,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9,Million litres

In [ ]:
cols_sorted = list(df_pivot2.columns[-3:]) + list(df_pivot2.columns[1:-3])
cols_sorted

['Year',
 'Month',
 'Unit',
 'Butter',
 'Calf nuts and cubes (16-18% protein)',
 'Cheese',
 'Cow slaughterings',
 'Dairy meal (16-18% protein)',
 'Dairy nuts and cubes (16-18% protein)',
 'Domestic milk intake by creameries and pasteurisers',
 'Fat content',
 'Heifers 200-249kg',
 'Heifers 250-299kg',
 'Heifers 300-349kg',
 'Heifers 350-399kg',
 'Heifers 400-449kg',
 'Imported milk intake (excluding imported packaged milk for retail sale)',
 'Maize meal',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)',
 'Skimmed milk powder',
 'Whole milk sales (excluding imported packaged milk for retail sale)']

In [ ]:
df_pivot2 = df_pivot2[cols_sorted]

In [ ]:
df_pivot2

Category,Year,Month,Unit,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,Thousand tonnes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,Thousand tonnes,NaN,NaN,2.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,Thousand tonnes,NaN,NaN,NaN,40.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,146.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021,9,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2021,9,Euro per Tonne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
2229,2021,9,skimmed milk (excluding imported packaged milk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
2230,2021,9,Thousand tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
2231,2021,9,Million litres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [ ]:
df_pivot2 = df_pivot2.fillna(0)

In [ ]:
df_pivot2

Category,Year,Month,Unit,Butter,Calf nuts and cubes (16-18% protein),Cheese,Cow slaughterings,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,...,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Imported milk intake (excluding imported packaged milk for retail sale),Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Skimmed milk powder,Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,Thousand tonnes,4.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
1,2011,1,Thousand tonnes,0.0,0,2.5,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
2,2011,1,Thousand tonnes,0.0,0,0.0,40.1,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
3,2011,1,Million litres,0.0,0,0.0,0,0,0,146.7,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
4,2011,1,Percent,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,2021,9,Million litres,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,0.0
2228,2021,9,Euro per Tonne,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,299,0.0,0,0.0
2229,2021,9,skimmed milk (excluding imported packaged milk...,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,15.1,0,0.0
2230,2021,9,Thousand tonnes,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,11.1,0.0
2231,2021,9,Million litres,0.0,0,0.0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,26.6

In [ ]:
df_pivot2.groupby(["Year", "Month"]).sum()

Category    Butter  Calf nuts and cubes (16-18% protein)  Cheese  \
Year Month
2011 1         4.0                                     0     2.5
     2         5.8                                     0     5.3
     3        12.5                                     0    15.9
     4        14.9                                     0    21.6
     5        19.0                                     0    24.7
...            ...                                   ...     ...
2021 8        28.8                                   355    29.3
     9        26.5                                   360    33.2
     10       21.6                                   365    27.5
     11       17.8                                   370    20.9
     12       12.2                                   374     7.5

Category    Dairy meal (16-18% protein)  \
Year Month
2011 1                                0
     2                                0
     3                                0
     4                                0
     5                                0
...                                 ...
2021 8                              316
     9                              323
     10                             328
     11                             333
     12                             341

Category    Dairy nuts and cubes (16-18% protein)  \
Year Month
2011 1                                          0
     2                                          0
     3                                          0
     4                                          0
     5                                          0
...                                           ...
2021 8                                        324
     9                                        332
     10                                       339
     11                                       344
     12                                       350

Category    Domestic milk intake by creameries and pasteurisers  Fat content  \
Year Month
2011 1                                                  146.7           3.99
     2                                                  217.8           3.96
     3                                                  448.4           3.91
     4                                                  634.5           3.72
     5                                                  737.9           3.69
...                                                       ...            ...
2021 8                                                  917.4           4.19
     9                                                  776.7           4.43
     10                                                 652.8           4.77
     11                                                 460.6           4.90
     12                                                 256.3           4.74

Category    Heifers 200-249kg  Heifers 250-299kg  Heifers 300-349kg  \
Year Month
2011 1                 445.22             541.00             614.39
     2                 463.66             541.28             600.72
     3                 475.72             530.74             621.26
     4                 490.50             570.06             647.20
     5                 495.43             582.13             658.38
...                       ...                ...                ...
2021 8                 480.00             598.07             689.20
     9                 450.74             570.54             694.88
     10                516.00             529.67             656.53
     11                419.66             547.42             641.39
     12                490.37             623.57             693.47

Category    Heifers 350-399kg  Heifers 400-449kg  Maize meal  \
Year Month
2011 1                 663.88             737.82           0
     2                 668.94             739.21           0
     3                 691.95             768.11           0
     4                 729.61             799.90           0
     5                 740.76             829.63           0
...                       ...                ...         ...
2021 8                 801.61             913.59         293
     9                 804.71             915.68         299
     10                777.37             890.95         309
     11                762.83             888.34         314
     12                806.00             912.35         323

Category    Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)  \
Year Month
2011 1                                                   14.5
     2                                                   13.8
     3                                                   15.8
     4                                                   13.9
     5                                                   15.0
...                                                       ...
2021 8                                                   15.8
     9                                                   15.1
     10                                                  15.8
     11                                                  15.4
     12                                                  15.0

Category    Whole milk sales (excluding imported packaged milk for retail sale)
Year Month
2011 1                                                   27.6
     2                                                   25.2
     3                                                   29.1
     4                                                   25.2
     5                                                   27.3
...                                                       ...
2021 8                                                   29.0
     9                                                   26.6
     10                                                  26.1
     11                                                  25.5
     12                                                  25.2

[132 rows x 15 columns]

In [ ]:
df_pivot2.groupby(["Year", "Month"]).sum()

Category    Butter  Calf nuts and cubes (16-18% protein)  Cheese  \
Year Month
2011 1         4.0                                     0     2.5
     2         5.8                                     0     5.3
     3        12.5                                     0    15.9
     4        14.9                                     0    21.6
     5        19.0                                     0    24.7
...            ...                                   ...     ...
2021 8        28.8                                   355    29.3
     9        26.5                                   360    33.2
     10       21.6                                   365    27.5
     11       17.8                                   370    20.9
     12       12.2                                   374     7.5

Category    Dairy meal (16-18% protein)  \
Year Month
2011 1                                0
     2                                0
     3                                0
     4                                0
     5                                0
...                                 ...
2021 8                              316
     9                              323
     10                             328
     11                             333
     12                             341

Category    Dairy nuts and cubes (16-18% protein)  \
Year Month
2011 1                                          0
     2                                          0
     3                                          0
     4                                          0
     5                                          0
...                                           ...
2021 8                                        324
     9                                        332
     10                                       339
     11                                       344
     12                                       350

Category    Domestic milk intake by creameries and pasteurisers  Fat content  \
Year Month
2011 1                                                  146.7           3.99
     2                                                  217.8           3.96
     3                                                  448.4           3.91
     4                                                  634.5           3.72
     5                                                  737.9           3.69
...                                                       ...            ...
2021 8                                                  917.4           4.19
     9                                                  776.7           4.43
     10                                                 652.8           4.77
     11                                                 460.6           4.90
     12                                                 256.3           4.74

Category    Heifers 200-249kg  Heifers 250-299kg  Heifers 300-349kg  \
Year Month
2011 1                 445.22             541.00             614.39
     2                 463.66             541.28             600.72
     3                 475.72             530.74             621.26
     4                 490.50             570.06             647.20
     5                 495.43             582.13             658.38
...                       ...                ...                ...
2021 8                 480.00             598.07             689.20
     9                 450.74             570.54             694.88
     10                516.00             529.67             656.53
     11                419.66             547.42             641.39
     12                490.37             623.57             693.47

Category    Heifers 350-399kg  Heifers 400-449kg  Maize meal  \
Year Month
2011 1                 663.88             737.82           0
     2                 668.94             739.21           0
     3                 691.95             768.11           0
     4                 729.61             799.90           0
     5                 740.76             829.63           0
...                       ...                ...         ...
2021 8                 801.61             913.59         293
     9                 804.71             915.68         299
     10                777.37             890.95         309
     11                762.83             888.34         314
     12                806.00             912.35         323

Category    Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale)  \
Year Month
2011 1                                                   14.5
     2                                                   13.8
     3                                                   15.8
     4                                                   13.9
     5                                                   15.0
...                                                       ...
2021 8                                                   15.8
     9                                                   15.1
     10                                                  15.8
     11                                                  15.4
     12                                                  15.0

Category    Whole milk sales (excluding imported packaged milk for retail sale)
Year Month
2011 1                                                   27.6
     2                                                   25.2
     3                                                   29.1
     4                                                   25.2
     5                                                   27.3
...                                                       ...
2021 8                                                   29.0
     9                                                   26.6
     10                                                  26.1
     11                                                  25.5
     12                                                  25.2

[132 rows x 15 columns]

In [ ]:
df_pivot = df_pivot2.groupby(["Year", "Month"]).sum()

In [ ]:
df_pivot = df_pivot.reset_index()

In [ ]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [ ]:
df_pivot

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,445.22,541.00,614.39,663.88,737.82,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,463.66,541.28,600.72,668.94,739.21,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,475.72,530.74,621.26,691.95,768.11,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,490.50,570.06,647.20,729.61,799.90,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,495.43,582.13,658.38,740.76,829.63,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323,15.0,25.2

In [ ]:
df_pivot = df_pivot[df_pivot.Year > 2013]

In [ ]:
df_pivot

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
36,2014,1,4.4,329,2.3,300,302,132.0,4.11,498.38,597.40,704.50,789.13,867.04,252,16.9,23.5
37,2014,2,6.2,329,6.5,303,303,214.0,4.11,506.55,612.72,704.99,790.58,884.23,248,15.4,21.3
38,2014,3,14.4,305,18.4,290,288,470.7,4.08,497.04,588.64,682.82,789.94,906.31,244,18.7,25.4
39,2014,4,17.3,313,22.8,276,289,697.0,3.87,472.67,589.84,689.85,806.49,908.97,233,15.0,21.9
40,2014,5,21.7,315,24.8,284,292,785.5,3.75,509.21,595.29,691.55,808.22,893.82,240,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323,15.0,25.2

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [ ]:
results = imputer.fit_transform(df_pivot)

In [ ]:
results

array([[2.014e+03, 1.000e+00, 4.400e+00, ..., 2.520e+02, 1.690e+01,
        2.350e+01],
       [2.014e+03, 2.000e+00, 6.200e+00, ..., 2.480e+02, 1.540e+01,
        2.130e+01],
       [2.014e+03, 3.000e+00, 1.440e+01, ..., 2.440e+02, 1.870e+01,
        2.540e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

In [ ]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [ ]:
df_imputed

Category,Year,Month,Butter,Calf nuts and cubes (16-18% protein),Cheese,Dairy meal (16-18% protein),Dairy nuts and cubes (16-18% protein),Domestic milk intake by creameries and pasteurisers,Fat content,Heifers 200-249kg,Heifers 250-299kg,Heifers 300-349kg,Heifers 350-399kg,Heifers 400-449kg,Maize meal,Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale),Whole milk sales (excluding imported packaged milk for retail sale)
0,2014.0,1.0,4.4,329.0,2.3,300.0,302.0,132.0,4.11,498.38,597.40,704.50,789.13,867.04,252.0,16.9,23.5
1,2014.0,2.0,6.2,329.0,6.5,303.0,303.0,214.0,4.11,506.55,612.72,704.99,790.58,884.23,248.0,15.4,21.3
2,2014.0,3.0,14.4,305.0,18.4,290.0,288.0,470.7,4.08,497.04,588.64,682.82,789.94,906.31,244.0,18.7,25.4
3,2014.0,4.0,17.3,313.0,22.8,276.0,289.0,697.0,3.87,472.67,589.84,689.85,806.49,908.97,233.0,15.0,21.9
4,2014.0,5.0,21.7,315.0,24.8,284.0,292.0,785.5,3.75,509.21,595.29,691.55,808.22,893.82,240.0,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,480.00,598.07,689.20,801.61,913.59,293.0,15.8,29.0
92,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,450.74,570.54,694.88,804.71,915.68,299.0,15.1,26.6
93,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,516.00,529.67,656.53,777.37,890.95,309.0,15.8,26.1
94,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,419.66,547.42,641.39,762.83,888.34,314.0,15.4,25.5
95,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,490.37,623.57,693.47,806.00,912.35,323.0,15.0,25.2

In [ ]:
df_imputed.to_csv(cwd+"milk dataset 1.csv")

In [ ]:
df_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter,Thousand tonnes,Jan,4.0
1,2011,Cheese,Thousand tonnes,Jan,2.5
2,2011,Cow slaughterings,Thousand tonnes,Jan,40.1
3,2011,Domestic milk intake by creameries and pasteur...,Million litres,Jan,146.7
4,2011,Fat content,Percent,Jan,3.99
...,...,...,...,...,...
1855,2021,Skimmed milk powder,Thousand tonnes,Dec,7.4
1856,2021,Whole milk sales (excluding imported packaged ...,Million litres,Dec,25.2
1857,2022,Calves born from beef bulls (female),Count,Dec,14335
1858,2022,Calves born from beef bulls (female),Count,Dec,14318
1859,2022,Calves born from beef bulls (male),Count,Dec,15045

In [ ]:
df_pivot = df_melt.pivot(columns=["Category"], values=["Amount"]).reset_index()

In [ ]:
df_pivot2 = df_melt[["Year", "Month", "Unit"]]

In [ ]:
df_pivot2 = df_pivot2.reset_index()

In [ ]:
df_pivot2

      index  Year Month             Unit
0         0  2011   Jan  Thousand tonnes
1         1  2011   Jan  Thousand tonnes
2         2  2011   Jan  Thousand tonnes
3         3  2011   Jan   Million litres
4         4  2011   Jan          Percent
...     ...   ...   ...              ...
1855   1855  2021   Dec  Thousand tonnes
1856   1856  2021   Dec   Million litres
1857   1857  2022   Dec            Count
1858   1858  2022   Dec            Count
1859   1859  2022   Dec            Count

[1860 rows x 4 columns]

# New parts

### Dataset 1

2014-2021, incorporating the data from all 3 datasets

In [571]:
df1_concat = pd.concat([df1, df3_pivot])

In [572]:
df1_concat = pd.concat([df1_concat, df2_pivot])

In [573]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [574]:
df1_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [575]:
df1_concat = df1_concat.drop("Year.1", axis=1)

In [576]:
df1_concat["Category"].value_counts()

Calf nuts and cubes (16-18% protein) (Euro per Tonne)                                              16
Dairy meal (16-18% protein) (Euro per Tonne)                                                       16
Dairy nuts and cubes (16-18% protein) (Euro per Tonne)                                             16
Maize meal (Euro per Tonne)                                                                        16
Butter (Thousand tonnes)                                                                           11
Cheese (Thousand tonnes)                                                                           11
Cow slaughterings (Thousand tonnes)                                                                11
Domestic milk intake by creameries and pasteurisers (Million litres)                               11
Fat content (Percent)                                                                              11
Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)           11
Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)    11
Skimmed milk powder (Thousand tonnes)                                                              11
Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)               11
Calf meal (16-18% protein) (Euro per Tonne)                                                         8
Name: Category, dtype: int64

In [577]:
df1_melt = df1_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df1_concat.columns[3:], var_name="Month", value_name="Amount")

In [578]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2047,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
2048,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2049,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2050,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2051,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [579]:
df1_melt = df1_melt.drop_duplicates()

In [580]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
2015,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
2016,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
2017,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
2018,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
2019,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [581]:
df1_melt = df1_melt.reset_index().drop("index", axis=1)

In [582]:
df1_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1663,2021,Calf meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,.
1664,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1665,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1666,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [583]:
df1_melt["Month"] = [months[x] for x in df1_melt["Month"]]

In [584]:
df1_melt["Index"] = ["-".join([str(x),str(y),str(z)]) for (x,y,z) in zip(df1_melt["Year"], df1_melt["Month"],
                                               df1_melt["Category"])]

In [585]:
df1_melt["Index"]

0                         2011-1-Butter (Thousand tonnes)
1                         2012-1-Butter (Thousand tonnes)
2                         2013-1-Butter (Thousand tonnes)
3                         2014-1-Butter (Thousand tonnes)
4                         2015-1-Butter (Thousand tonnes)
                              ...
1663    2021-12-Calf meal (16-18% protein) (Euro per T...
1664    2021-12-Calf nuts and cubes (16-18% protein) (...
1665    2021-12-Dairy meal (16-18% protein) (Euro per ...
1666    2021-12-Dairy nuts and cubes (16-18% protein) ...
1667                  2021-12-Maize meal (Euro per Tonne)
Name: Index, Length: 1668, dtype: object

In [586]:
df1_melt[df1_melt.Index == "2021-12-Maize meal (Euro per Tonne)"]

,Year,Category,Unit,Month,Amount,Index
1667,2021,Maize meal (Euro per Tonne),Euro per Tonne,12,323,2021-12-Maize meal (Euro per Tonne)

In [587]:
df1_pivot = df1_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [588]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [589]:
df1_pivot = df1_pivot.reset_index().drop("index", axis=1)

In [590]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [591]:
df1_pivot["Index"] = [x.split("-") for x in df1_pivot.Index]

In [592]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [593]:
df1_pivot["Year"] = [int(x[0]) for x in df1_pivot.Index]
df1_pivot["Month"] = [int(x[1]) for x in df1_pivot.Index]

In [594]:
df1_pivot

Category,Index,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres),Year,Month
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9
1664,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9
1665,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9
1666,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9
1667,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9

In [595]:
cols_sorted = list(df1_pivot.columns[-2:]) + list(df1_pivot.columns[1:-2])
cols_sorted

['Year',
 'Month',
 'Butter (Thousand tonnes)',
 'Calf meal (16-18% protein) (Euro per Tonne)',
 'Calf nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Cheese (Thousand tonnes)',
 'Cow slaughterings (Thousand tonnes)',
 'Dairy meal (16-18% protein) (Euro per Tonne)',
 'Dairy nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Domestic milk intake by creameries and pasteurisers (Million litres)',
 'Fat content (Percent)',
 'Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)',
 'Maize meal (Euro per Tonne)',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)',
 'Skimmed milk powder (Thousand tonnes)',
 'Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)']

In [596]:
df1_pivot = df1_pivot[cols_sorted]

In [597]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1665,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1666,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1667,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [598]:
df1_pivot = df1_pivot.fillna(0)

In [599]:
df1_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf meal (16-18% protein) (Euro per Tonne),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1,2011,1,0.0,0,0,2.5,0,0,0,0.0,0.00,0,0,0.0,0,0.0
2,2011,1,0.0,0,0,0.0,40.1,0,0,0.0,0.00,0,0,0.0,0,0.0
3,2011,1,0.0,0,0,0.0,0,0,0,146.7,0.00,0,0,0.0,0,0.0
4,2011,1,0.0,0,0,0.0,0,0,0,0.0,3.99,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1664,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,299,0.0,0,0.0
1665,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,15.1,0,0.0
1666,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,11.1,0.0
1667,2021,9,0.0,0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,26.6

In [600]:
df_pivot = df1_pivot.groupby(["Year", "Month"]).sum()

In [601]:
df_pivot = df_pivot.reset_index()

In [602]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [603]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [604]:
df_pivot = df_pivot[df_pivot.Year > 2013]

In [605]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
36,2014,1,4.4,329,2.3,300,302,132.0,4.11,252,16.9,23.5
37,2014,2,6.2,329,6.5,303,303,214.0,4.11,248,15.4,21.3
38,2014,3,14.4,305,18.4,290,288,470.7,4.08,244,18.7,25.4
39,2014,4,17.3,313,22.8,276,289,697.0,3.87,233,15.0,21.9
40,2014,5,21.7,315,24.8,284,292,785.5,3.75,240,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [606]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [607]:
results = imputer.fit_transform(df_pivot)

In [608]:
results

array([[2.014e+03, 1.000e+00, 4.400e+00, ..., 2.520e+02, 1.690e+01,
        2.350e+01],
       [2.014e+03, 2.000e+00, 6.200e+00, ..., 2.480e+02, 1.540e+01,
        2.130e+01],
       [2.014e+03, 3.000e+00, 1.440e+01, ..., 2.440e+02, 1.870e+01,
        2.540e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

In [609]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [610]:
df_imputed

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2014.0,1.0,4.4,329.0,2.3,300.0,302.0,132.0,4.11,252.0,16.9,23.5
1,2014.0,2.0,6.2,329.0,6.5,303.0,303.0,214.0,4.11,248.0,15.4,21.3
2,2014.0,3.0,14.4,305.0,18.4,290.0,288.0,470.7,4.08,244.0,18.7,25.4
3,2014.0,4.0,17.3,313.0,22.8,276.0,289.0,697.0,3.87,233.0,15.0,21.9
4,2014.0,5.0,21.7,315.0,24.8,284.0,292.0,785.5,3.75,240.0,17.4,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
91,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,293.0,15.8,29.0
92,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,299.0,15.1,26.6
93,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,309.0,15.8,26.1
94,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,314.0,15.4,25.5
95,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,323.0,15.0,25.2

In [611]:
df_imputed.to_csv(cwd+"milk dataset 1.csv")

### Dataset 2

2011-2021, with Milk Statistics & Heifer Cows

In [612]:
df2_concat = pd.concat([df1, df2_pivot])

In [613]:
df2_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [614]:
df2_concat

,Year,Category,Unit,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year.1
0,2011,Butter (Thousand tonnes),Thousand tonnes,4.0,5.8,12.5,14.9,19.0,18.5,17,15.6,13.8,11.4,8.61,4.9,146.010
1,2012,Butter (Thousand tonnes),Thousand tonnes,4.0,7.4,13.9,16.9,21.0,19.4,15.9,14.0,10.8,10.0,7.8,4.1,145.200
2,2013,Butter (Thousand tonnes),Thousand tonnes,4.0,6.3,12.1,16.6,19.8,17.6,16.7,15.4,13.6,14.1,10.3,5.5,152.000
3,2014,Butter (Thousand tonnes),Thousand tonnes,4.4,6.2,14.4,17.3,21.7,19.6,20.3,17.5,15.7,13.5,9.8,5.9,166.300
4,2015,Butter (Thousand tonnes),Thousand tonnes,3.5,6.6,14.8,21.9,24.7,25.0,24.6,21.6,18.8,16.8,13.3,8.5,16.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2020,Maize meal (Euro per Tonne),Euro per Tonne,229,231,232,232,232,232,231,231,231,234,243,248,NaN
36,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,334,336,339,341,346,345,354,355,360,365,370,374,NaN
37,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,289,291,297,307,312,314,316,316,323,328,333,341,NaN
38,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,307,310,314,317,320,323,324,324,332,339,344,350,NaN
39,2021,Maize meal (Euro per Tonne),Euro per Tonne,253,258,261,266,283,290,292,293,299,309,314,323,NaN

In [615]:
df2_concat = df2_concat.drop("Year.1", axis=1)

In [616]:
df2_concat["Category"].value_counts()

Butter (Thousand tonnes)                                                                           11
Cheese (Thousand tonnes)                                                                           11
Cow slaughterings (Thousand tonnes)                                                                11
Domestic milk intake by creameries and pasteurisers (Million litres)                               11
Fat content (Percent)                                                                              11
Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)           11
Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)    11
Skimmed milk powder (Thousand tonnes)                                                              11
Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)               11
Calf nuts and cubes (16-18% protein) (Euro per Tonne)                                               8
Dairy meal (16-18% protein) (Euro per Tonne)                                                        8
Dairy nuts and cubes (16-18% protein) (Euro per Tonne)                                              8
Maize meal (Euro per Tonne)                                                                         8
Name: Category, dtype: int64

In [617]:
df2_melt = df2_concat.melt(id_vars=["Year","Category","Unit"], value_vars=df2_concat.columns[3:], var_name="Month", value_name="Amount")

In [618]:
df2_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1567,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
1568,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1569,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1570,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1571,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [619]:
df2_melt = df2_melt.drop_duplicates()

In [620]:
df2_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1567,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
1568,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1569,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1570,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1571,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [621]:
df2_melt = df2_melt.reset_index().drop("index", axis=1)

In [622]:
df2_melt

,Year,Category,Unit,Month,Amount
0,2011,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
1,2012,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
2,2013,Butter (Thousand tonnes),Thousand tonnes,Jan,4.0
3,2014,Butter (Thousand tonnes),Thousand tonnes,Jan,4.4
4,2015,Butter (Thousand tonnes),Thousand tonnes,Jan,3.5
...,...,...,...,...,...
1567,2020,Maize meal (Euro per Tonne),Euro per Tonne,Dec,248
1568,2021,Calf nuts and cubes (16-18% protein) (Euro per...,Euro per Tonne,Dec,374
1569,2021,Dairy meal (16-18% protein) (Euro per Tonne),Euro per Tonne,Dec,341
1570,2021,Dairy nuts and cubes (16-18% protein) (Euro pe...,Euro per Tonne,Dec,350
1571,2021,Maize meal (Euro per Tonne),Euro per Tonne,Dec,323

In [623]:
df2_melt["Month"] = [months[x] for x in df2_melt["Month"]]

In [624]:
df2_melt["Index"] = ["-".join([str(x),str(y),str(z)]) for (x,y,z) in zip(df2_melt["Year"], df2_melt["Month"],
                                               df2_melt["Category"])]

In [625]:
df2_melt["Index"]

0                         2011-1-Butter (Thousand tonnes)
1                         2012-1-Butter (Thousand tonnes)
2                         2013-1-Butter (Thousand tonnes)
3                         2014-1-Butter (Thousand tonnes)
4                         2015-1-Butter (Thousand tonnes)
                              ...
1567                  2020-12-Maize meal (Euro per Tonne)
1568    2021-12-Calf nuts and cubes (16-18% protein) (...
1569    2021-12-Dairy meal (16-18% protein) (Euro per ...
1570    2021-12-Dairy nuts and cubes (16-18% protein) ...
1571                  2021-12-Maize meal (Euro per Tonne)
Name: Index, Length: 1572, dtype: object

In [626]:
df2_melt[df2_melt.Index == "2021-12-Maize meal (Euro per Tonne)"]

,Year,Category,Unit,Month,Amount,Index
1571,2021,Maize meal (Euro per Tonne),Euro per Tonne,12,323,2021-12-Maize meal (Euro per Tonne)

In [627]:
df2_pivot = df2_melt.pivot(index="Index", columns=["Category"], values="Amount").reset_index()

In [628]:
df2_pivot

Category,Index,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1569,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1570,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1571,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [629]:
df2_pivot = df2_pivot.reset_index().drop("index", axis=1)

In [630]:
df2_pivot

Category,Index,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011-1-Butter (Thousand tonnes),4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-1-Cheese (Thousand tonnes),NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-1-Cow slaughterings (Thousand tonnes),NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-1-Domestic milk intake by creameries and ...,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-1-Fat content (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,2021-9-Imported milk intake (excluding importe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,2021-9-Maize meal (Euro per Tonne),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1569,2021-9-Skimmed & semi-skimmed milk (excluding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1570,2021-9-Skimmed milk powder (Thousand tonnes),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1571,2021-9-Whole milk sales (excluding imported pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [631]:
df2_pivot["Index"] = [x.split("-") for x in df2_pivot.Index]

In [632]:
df2_pivot

Category,Index,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1569,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1570,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1571,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [633]:
df2_pivot["Year"] = [int(x[0]) for x in df2_pivot.Index]
df2_pivot["Month"] = [int(x[1]) for x in df2_pivot.Index]

In [634]:
df2_pivot

Category,Index,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres),Year,Month
0,"[2011, 1, Butter (Thousand tonnes)]",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
1,"[2011, 1, Cheese (Thousand tonnes)]",NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
2,"[2011, 1, Cow slaughterings (Thousand tonnes)]",NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
3,"[2011, 1, Domestic milk intake by creameries a...",NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN,2011,1
4,"[2011, 1, Fat content (Percent)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,"[2021, 9, Imported milk intake (excluding impo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,9
1568,"[2021, 9, Maize meal (Euro per Tonne)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN,2021,9
1569,"[2021, 9, Skimmed & semi, skimmed milk (exclud...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN,2021,9
1570,"[2021, 9, Skimmed milk powder (Thousand tonnes)]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN,2021,9
1571,"[2021, 9, Whole milk sales (excluding imported...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6,2021,9

In [635]:
cols_sorted = list(df2_pivot.columns[-2:]) + list(df2_pivot.columns[1:-2])
cols_sorted

['Year',
 'Month',
 'Butter (Thousand tonnes)',
 'Calf nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Cheese (Thousand tonnes)',
 'Cow slaughterings (Thousand tonnes)',
 'Dairy meal (16-18% protein) (Euro per Tonne)',
 'Dairy nuts and cubes (16-18% protein) (Euro per Tonne)',
 'Domestic milk intake by creameries and pasteurisers (Million litres)',
 'Fat content (Percent)',
 'Imported milk intake (excluding imported packaged milk for retail sale) (Million litres)',
 'Maize meal (Euro per Tonne)',
 'Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres)',
 'Skimmed milk powder (Thousand tonnes)',
 'Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)']

In [636]:
df2_pivot = df2_pivot[cols_sorted]

In [637]:
df2_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,1,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,1,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,146.7,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.99,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,NaN,NaN,NaN
1569,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,NaN,NaN
1570,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1,NaN
1571,2021,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.6

In [638]:
df2_pivot = df2_pivot.fillna(0)

In [639]:
df2_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Cow slaughterings (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Imported milk intake (excluding imported packaged milk for retail sale) (Million litres),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Skimmed milk powder (Thousand tonnes),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1,2011,1,0.0,0,2.5,0,0,0,0.0,0.00,0,0,0.0,0,0.0
2,2011,1,0.0,0,0.0,40.1,0,0,0.0,0.00,0,0,0.0,0,0.0
3,2011,1,0.0,0,0.0,0,0,0,146.7,0.00,0,0,0.0,0,0.0
4,2011,1,0.0,0,0.0,0,0,0,0.0,3.99,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567,2021,9,0.0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,0.0
1568,2021,9,0.0,0,0.0,0,0,0,0.0,0.00,0,299,0.0,0,0.0
1569,2021,9,0.0,0,0.0,0,0,0,0.0,0.00,0,0,15.1,0,0.0
1570,2021,9,0.0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,11.1,0.0
1571,2021,9,0.0,0,0.0,0,0,0,0.0,0.00,0,0,0.0,0,26.6

In [645]:
df_pivot = df2_pivot.groupby(["Year", "Month"]).sum()

In [646]:
df_pivot = df_pivot.reset_index()

In [647]:
df_pivot = df_pivot.sort_values(["Year", "Month"])

In [648]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [649]:
df_pivot

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011,1,4.0,0,2.5,0,0,146.7,3.99,0,14.5,27.6
1,2011,2,5.8,0,5.3,0,0,217.8,3.96,0,13.8,25.2
2,2011,3,12.5,0,15.9,0,0,448.4,3.91,0,15.8,29.1
3,2011,4,14.9,0,21.6,0,0,634.5,3.72,0,13.9,25.2
4,2011,5,19.0,0,24.7,0,0,737.9,3.69,0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021,8,28.8,355,29.3,316,324,917.4,4.19,293,15.8,29.0
128,2021,9,26.5,360,33.2,323,332,776.7,4.43,299,15.1,26.6
129,2021,10,21.6,365,27.5,328,339,652.8,4.77,309,15.8,26.1
130,2021,11,17.8,370,20.9,333,344,460.6,4.90,314,15.4,25.5
131,2021,12,12.2,374,7.5,341,350,256.3,4.74,323,15.0,25.2

In [650]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=8, missing_values=np.nan)

In [652]:
results = imputer.fit_transform(df_pivot)

In [653]:
results

array([[2.011e+03, 1.000e+00, 4.000e+00, ..., 0.000e+00, 1.450e+01,
        2.760e+01],
       [2.011e+03, 2.000e+00, 5.800e+00, ..., 0.000e+00, 1.380e+01,
        2.520e+01],
       [2.011e+03, 3.000e+00, 1.250e+01, ..., 0.000e+00, 1.580e+01,
        2.910e+01],
       ...,
       [2.021e+03, 1.000e+01, 2.160e+01, ..., 3.090e+02, 1.580e+01,
        2.610e+01],
       [2.021e+03, 1.100e+01, 1.780e+01, ..., 3.140e+02, 1.540e+01,
        2.550e+01],
       [2.021e+03, 1.200e+01, 1.220e+01, ..., 3.230e+02, 1.500e+01,
        2.520e+01]])

In [654]:
df_imputed = pd.DataFrame(results, columns=df_pivot.columns)

In [655]:
df_imputed

Category,Year,Month,Butter (Thousand tonnes),Calf nuts and cubes (16-18% protein) (Euro per Tonne),Cheese (Thousand tonnes),Dairy meal (16-18% protein) (Euro per Tonne),Dairy nuts and cubes (16-18% protein) (Euro per Tonne),Domestic milk intake by creameries and pasteurisers (Million litres),Fat content (Percent),Maize meal (Euro per Tonne),Skimmed & semi-skimmed milk (excluding imported packaged milk for retail sale) (Million litres),Whole milk sales (excluding imported packaged milk for retail sale) (Million litres)
0,2011.0,1.0,4.0,0.0,2.5,0.0,0.0,146.7,3.99,0.0,14.5,27.6
1,2011.0,2.0,5.8,0.0,5.3,0.0,0.0,217.8,3.96,0.0,13.8,25.2
2,2011.0,3.0,12.5,0.0,15.9,0.0,0.0,448.4,3.91,0.0,15.8,29.1
3,2011.0,4.0,14.9,0.0,21.6,0.0,0.0,634.5,3.72,0.0,13.9,25.2
4,2011.0,5.0,19.0,0.0,24.7,0.0,0.0,737.9,3.69,0.0,15.0,27.3
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2021.0,8.0,28.8,355.0,29.3,316.0,324.0,917.4,4.19,293.0,15.8,29.0
128,2021.0,9.0,26.5,360.0,33.2,323.0,332.0,776.7,4.43,299.0,15.1,26.6
129,2021.0,10.0,21.6,365.0,27.5,328.0,339.0,652.8,4.77,309.0,15.8,26.1
130,2021.0,11.0,17.8,370.0,20.9,333.0,344.0,460.6,4.90,314.0,15.4,25.5
131,2021.0,12.0,12.2,374.0,7.5,341.0,350.0,256.3,4.74,323.0,15.0,25.2

In [656]:
df_imputed.to_csv(cwd+"milk dataset 2.csv")